@charset "utf-8";

/* 데일리금융 태블릿 */

body {
    min-width: 640px;
}


.wrap .contents {
    width: 90%;
    gap: 10px 0;
}

.inner {
    width: 90%;
}


.contents .box {
    flex: 1 1 30%;
    margin: 0;
}


.contents .box.b01 {
    flex: 1 1 90%;
}

.inner>h1 {
    margin: 0 0 20px;
}

.inner>h1>i {
    font-size: 1.1rem;
}

.contents .box p{
    font-size: 25px;
}

.contents .box.b05{flex: 1 1 
45%;}

.contents .box.photo {
    margin: 0;
    flex: 1 1 45%;
}

.contents .box.b06{
    flex: 1 1 45%;
}

.contents .box.b07{
    flex: 1 1 45%;
}

.contents .box .title {
    font-size: 1.7rem;
}