@charset "utf-8";

/* 데일리금융 모바일*/

body {
    min-width: 320px;
}


.inner>h1>i {
    font-size: 1.0rem;
}


.contents .box {
    flex: 1 1 45%;
}

.contents .box.b03{
    margin: 0;
    flex: 1 1 45%;
}

.contents .box.photo{
    flex: 1 1 90%;
}

.contents .box p {
    font-size: 22px;
    padding: 10px;
}

.contents .box.b09{
    margin: 0;
}

.contents .box .title {
    font-size: 1.5rem;
}

.contents .box .copy {
    font-weight: 300;
}

.contents .box button{
    padding: 0 5px;
    overflow: hidden;
}

.contents .box.b04,
.contents .box.b05,
.contents .box.b07{
    flex: 1 1 90%;
}

.contents .box.b01,
.contents .box.b10{
    height: 100px;
}