@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'); */
/* 폰트어썸 svg이용하기 */
/* dispaly:inline-block
i태그 안에 span이용하여 텍스트 넣어주고
text-indent -500px 이용해서 텍스트숨기고 오버플로우 히든 주기 */
/* border-radius:원형도형 */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1280px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #474747;
}


.inner {
    width: 1200px;
}


header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: middle;
    justify-content: space-between;
    display: inline-block;
    text-align: center;
}

ul li {
    display: inline-block;
    color: black;
}

.inner .left {
    float: left;
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 44px;
}

.inner .right {
    float: right;
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 44px;
}

.inner .right li {
    padding: 0px 0px;
    margin-right: 10px;
}

.search {
    vertical-align: top;
    background: #2BC63E;
    width: 44px;
    height: 44px;
    align-items: center;
    padding-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.menu {
    vertical-align: top;
    background: #1553A3;
    width: 44px;
    height: 44px;
    align-items: center;
    padding-top: 10px;
    margin-left: -4px;
    color: #FFFFFF;
    cursor: pointer;
}

.inner .left li a::after {
    content: "ㅣ";
}

.inner .left li:last-child a::after {
    content: "";
}


.logo {
    background: url(/images/durunubi/logo.png) 0 0 no-repeat;
    width: 173px;
    height: 59px;
    float: left;
}

.nav {
    float: right;
    line-height: 59px;
}

.nav li a {
    margin-left: 10px;
}

section.main .bg {
    width: 100%;
    height: 855px;
    background: url(/images/durunubi/bg.png) 50% 0 no-repeat;
    background-size: cover;
}

.directions_walk {
    background: #2BC63E;
    width: 94px;
    height: 94px;
    padding-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 100%;
    font-size: 55px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 30px #2BC63E;
}

section.main .inner {
    width: 1200px;
    text-align: center;
    padding-top: 60px;
    font-size: 45px;
    color: #FFFFFF;
    text-shadow: 2px 2px 15px gray;
}

section.main .inner h2 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
    border-bottom: 1px solid #FFFFFF;
    width: 171px;
    padding: 10px;
}


section.main .inner .wrap {
    padding-top: 90px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

section.main .inner .box {
    width: 292px;
    height: 200px;
    font-weight: 300;
    font-size: 23px;
    text-align: center;
    padding: 65px 20px;
}

.wrap .box.b01 {
    background: url(/images/durunubi/b01.png) 0 0 no-repeat;
    background-size: cover;
    margin-left: 0px;
}

.wrap .box.b02 {
    background: url(/images/durunubi/b02.png) 0 0 no-repeat;
    background-size: cover;
}

.wrap .box.b03 {
    background: url(/images/durunubi/b03.png) 0 0 no-repeat;
    background-size: cover;
}

.wrap .box.b04 {
    background: url(/images/durunubi/b04.png) 0 0 no-repeat;
    background-size: cover;
    margin-right: 0px;
}

.bottom_button {
    float: right;
}

.chevron_left {
    background: rgba(255, 255, 255, 0.377);
    width: 44px;
    height: 44px;
    padding-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10% 0% 0% 10%;
}

.navigate_next {
    background: rgba(255, 255, 255, 0.377);
    width: 44px;
    height: 44px;
    padding-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: -10px;
    border-radius: 0% 10% 10% 0%;
}

.pause {
    background: rgba(75, 75, 75, 0.377);
    width: 44px;
    height: 44px;
    padding-top: 10px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 10%;
}

.inner .wrap .road {
    width: 380px;
    height: 265px;
    position: relative;
    box-shadow: 2px 2px 20px rgb(194, 194, 194);
}

h3 {
    text-align: center;
    padding-top: 50px;
    font-size: 35px;
    background: linear-gradient(to right, #2BC63E, #1553A3);
    color: transparent;
    -webkit-background-clip: text;
}

.wrap .road.r01 {
    background: url(/images/durunubi/r01.png) 0 0 no-repeat;
    background-size: cover;
    margin-left: 0px;
}

.wrap .road.r02 {
    background: url(/images/durunubi/r02.png) 0 -50px no-repeat;
    background-size: cover;
}

.wrap .road.r03 {
    background: url(/images/durunubi/r03.png) 0 0 no-repeat;
    background-size: cover;
    margin-right: 0px;
}

.inner .wrap {
    padding-top: 50px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.whitebox {
    width: 380px;
    height: 77px;
    background: #FFFFFF;
    position: absolute;
    top: 188px;
}

.r01 .whitebox p {
    color: #2BC63E;
    padding: 6px 10px;
}

.r02 .whitebox p,
.r03 .whitebox p {
    color: #1553A3;
    padding: 6px 10px;
}

.whitebox h4 {
    font-size: 20px;
    padding: 3px 10px;
}

.directions_walk2 {
    background: #2BC63E;
    width: 60px;
    height: 60px;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 100%;
    font-size: 29px;
    box-shadow: 0px 0px 20px #2BC63E;
    position: relative;
    z-index: 1;
    top: 160px;
    left: 300px;
}

.pedal_bike {
    background: #1553A3;
    width: 60px;
    height: 60px;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 100%;
    font-size: 29px;
    box-shadow: 0px 0px 20px #1553A3;
    position: relative;
    z-index: 1;
    top: 160px;
    left: 300px;
}

.linkbox {
    display: flex;
    width: 33%;
    text-align: center;
    line-height: 50px;
    margin-top: 80px;
}

.linkbox .w_link {
    width: 180px;
    height: 50px;
    background: #2BC63E;
}

.linkbox .b_link {
    width: 180px;
    height: 50px;
    background: #1553A3;
}

.linkbox a {
    color: #FFFFFF;
}

section.theme .bg {
    width: 100%;
    height: 550px;
    background: #F7F7F7;
    margin-top: 80px;
    padding: 18px;
}

.themebox {
    width: 390px;
    height: 280px;
    margin-top: 30px;
}

.themebox p {
    color: #FFFFFF;
    padding: 100px 30px;
    font-size: 25px;
}

.themebox.t01 {
    background: url(/images/durunubi/t01.png) 0 0 no-repeat;
    background-size: cover;
    border-radius: 3%;
    margin-left: 0;
}

.themebox.t02 {
    background: url(/images/durunubi/t02.png) 0 0 no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.themebox.t03 {
    background: url(/images/durunubi/t03.png) 0 0 no-repeat;
    background-size: cover;
    border-radius: 3%;
    margin-right: 0;
}

.textbox {
    text-align: center;
    margin: 20px;
}

.textbox h2 {
    font-size: 40px;
    background: linear-gradient(to right, #2BC63E, #1553A3);
    color: transparent;
    -webkit-background-clip: text;
}

.inner .wrap2 {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.directions_walk3 {
    background: #2BC63E;
    width: 60px;
    height: 60px;
    padding: 16px;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 100%;
    font-size: 29px;
    box-shadow: 0px 0px 20px #2BC63E;
    position: relative;
    z-index: 1;
    top: 247px;
    left: 300px;
}

.textbox p {
    font-size: 18px;
    line-height: 30px;
}

.mouse {
    font-size: 35px;
}

.flag {
    position: absolute;
    background: url(/images/durunubi/flag.png) 0 0 no-repeat;
    width: 83px;
    height: 130px;
    z-index: 2;
}

.flag p {
    padding-left: 10px;
    padding-top: 4px;
    color: #FFFFFF;
}

.tb {
    padding: 57px 0 0 22px;
}

.tb span {
    color: #2BC63E;
}

.sns {
    margin-top: 130px;
}

.sns.road01 {
    margin-left: 0;
}

h5 {
    font-size: 35px;
    background: linear-gradient(to right, #2BC63E, #1553A3);
    color: transparent;
    -webkit-background-clip: text;
    float: left;
    position: relative;
    top: 90px;
}

.add {
    position: relative;
    top: 90px;
    float: right;
    font-size: 50px;
    right: 300px;
}

.tagbox {
    background: #2BC63E;
    width: 255px;
    height: 289px;
    margin-right: 0;
    padding: 35px 30px;
    word-break: keep-all;
    box-shadow: 0px 0px 30px #2BC63E;
}

.tagbox h1 {
    color: #FFFFFF;
    font-size: 35px;
}

.tagbox p {
    padding-top: 20px;
    font-size: 21px;
}

.qn {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 100px;
}

.question {
    width: 50%;
    background: #1553A3;
    padding: 30px;
    color: #FFFFFF;
}

.notice {
    width: 50%;
    background: #F5F7FE;
    padding: 30px;
}

.qn ul {
    font-size: 40px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.add2 {
    margin: 0;
    font-size: 50px;
}


.question li {
    font-size: 18px;
    list-style-type: "Q.　";
    line-height: 30px;
}

.notice li {
    font-size: 18px;
    list-style-type: disc;
    line-height: 30px;
}

footer {
    background: #333;
    color: #FFFFFF;
}

footer {
    display: flex;
    width: 100%;
    height: 100px;
}

footer:first-of-type {
    border-bottom: 1px solid #454545;
}

footer:last-of-type {
    border-top: 1px solid #131313;
}

footer select {
    width: 272px;
    height: 44px;
    border: 1px solid var(--colorFontLight);
    background: transparent;
    color: var(--colorFontLight);
    padding: 10px 20px;
    border-radius: 3px;
}

footer .copyright a:link,
footer .copyright a:visited {
    text-decoration: none;
    font-size: 0.75rem;
    color: var(--colorFontLight);
    font-weight: 600;
    margin: 0 20px 0 0;
}

footer address {
    font-style: normal;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
    color: var(--colorFontLight);
}

.footinner {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin-right: 510px;
}


.nav {
    display: flex;
}

.nav li {
    display: inline-block;
    text-align: center;
    justify-content: space-between;
    padding: 0 10px;
}

.nav li:last-of-type{padding: 0 0 0 10px;}

ul.nav>li>.submenu {
    background: #f1f1f1;
    opacity: 80%;
}

ul.nav>li>.submenu>li {
    height: 0px;
    line-height: 0px;
    overflow-y: hidden;
    text-align: center;
    display: block;
    font-size: 12px;
}

ul.nav>li:hover>.submenu>li {
    height: 50px;
    line-height: 50px;
    transition: height 0.5s;
}