@charset "utf-8";

/* 현대LC 태블릿 */

body {
    min-width: 100%;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

section {
    flex-direction: column;
}

section .left,
section .right {
    width: auto;
}

.two .left h2 {
    padding-top: 50px;
    position: unset;
    background: url(/images/hyundaiLC/m1.png) 100% 150px no-repeat;
    background-size: cover;
    width: 500px;
    text-align: center;
}

.two .right h3{
    font-size: 1.57rem;
}

.two .right h2,
.two .right h3,
.two .right p {
    width: 100%;
}

.two .right {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 2.2rem;
}

.one p {
    font-size: 1.1rem;
}

.one button {
    position: relative;
    top:50px;
}

.two .right p {
    margin: 0 20px 0 0;
}

.three .left {
    background: url(/images/hyundaiLC/m2.png) 50% 50% no-repeat;
    background-size: cover;
    width: 100%;
    padding: 0;
    justify-content: center;
}

.three .left .box {
    width: 100%;
    padding: 0;
    background: none;
    background-size: cover;
    color: #fff;
}

.three .left h3{padding: 0 30px;}

.three .right {
    text-align: center;
    margin: 0;
    background: url(/images/hyundaiLC/m3.png) 50% 50% no-repeat;
    background-size: cover;
}

.three .right .box {
    width: 100%;
    height: 90%;
    margin: 0;
    background: none;
    background-size: cover;
}

.three .right h2 {
    width: 600px;
    padding: 10px 0;
}

.three .right h3{
    text-align: right;
    font-size: 25px;
    padding-top: 30px;
    color: #fff;
}

.three .right .box button {
    bottom: 138px;
}