@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 롯데칠성 태블릿 */

* {
    word-break: keep-all;
}

body {
    min-width: 100%;
}

.inner {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-align: center;
}

.inner p {
    text-align: center;
    width: 0 auto;
}


section.sec02 .inner .group {
    flex-direction: column;
}

section.sec02 .inner .group .box .bg {
    width: 100%;
}

section.sec02 {
    background-size: auto 400px;
    height: auto;
}

section.sec02 .inner .group .box p {
    float: left;
}

section.sec02 .inner .group .box .bg {
    width: 100%;
    height: 350px;
}

section.sec02 .inner .group .box.one .bg,
section.sec02 .inner .group .box.two .bg,
section.sec02 .inner .group .box.three .bg {
    background-size: 100%;
}



section.sec02 .inner .group .box {
    width: 100% auto;
}

section.sec02 .inner .group .box.two,
section.sec02 .inner .group .box.three
 {
    margin: 50px 0 0 0;
}


section.sec02 .inner {
    padding-top: 80px;
    padding-bottom: 80px;
}