@charset "utf-8";


* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    min-width: 1280px;
}


.container {
    display: flex;
    flex-flow: row nowrap;
}

.content {
    width: 80%;
    height: auto;
    background: #f5f5f5;
}

.sidebar {
    width: 20%;
    height: 400px;
    position: sticky;
    top: 0;
    background: yellowgreen;
}

footer {
    background: #2e2e2e;
    padding: 500px 0;
  }
