@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto;
    min-width: 1280px;
    color: #333333;
    font-family: 'Pretendard', sans-serif;
    overflow: hidden;
}

header,
nav,
section,
footer {
    width: 100%;
}

section.myswiper {
    height: 100vh;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background: transparent;
    border: 1px solid #fff;
    position: relative;
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    right: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 155px;
    left: 0;
    width: 100%;
    height: 20px;
}

/* 메인 */

section.myswiper .sec01 {
    display: block;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

section.myswiper .sec01 video {
    position: absolute;
    /* top: -60px; */
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
}

.sec01 .bg_wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    z-index: -20;
    position: absolute;
}

.sec01 .mainlogo {
    background: url(../images/twg/TWG_logo_white.svg)0 0 no-repeat;
    background-size: contain;
    width: 600px;
    height: 600px;
    margin: 340px auto;
}

header {
    position: fixed;
    z-index: 600;
}

header .nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
    position: relativ;
}

header .nav .logo a{
    background: url(../images/twg/TWG_logo_white.svg)0 0 no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 18px;
    left: 910px;
}

header .nav .right{
    display: flex;
}

header .bar {
    background: url(../images/twg/bar.svg)0 0 no-repeat;
    width: 100%;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 110px;
}

/* 2. 섹션 */

section.myswiper .sec02,
section.myswiper .sec03,
section.myswiper .sec04{
    padding: 150px 100px;
}

section.myswiper .sec02 {
    background: url(../images/twg/sec02_bg.png) 0 30% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.sec02 .title{
    text-align: right;
    padding-top: 320px;
}

.sec02 .line{
    width: 800px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 500px;
    left: 0;
    opacity: 0.4;
}

.title h1{
    font-size: 45px;
    color: #fff;
    font-family: 'Amiri', serif;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 30px 0;
}

.title h2{
    font-size: 25px;
    color: #fff;
    font-family: 'Amiri', serif;
    font-weight: 400;
    letter-spacing: 2px;
}

.title h3{
    color: #fff;
    font-family: 'Amiri', serif;
    font-size: 20px;
    padding: 10px 0;
}

.title button{
    padding: 8px 12px;
    font-size: 15px;
    font-family: 'Amiri', serif;
    font-weight: 700;
    color: #fff;
    background: #281E1C;
    border: none;
    border-radius: 7px;
    margin: 20px 0;
    cursor: pointer;
}

.title button:hover{
    background:#FEDB77;
    color: #281E1C;
    transition: 0.5s ease-in;
}

/* 프리뷰 */

#preview{
    z-index: 99;
    position:absolute;
    border:1px solid #ccc;
    /* background:#333; */
    padding:5px;
    display:none;
    color:#fff;
    font-family: 'Amiri', serif;
}

.view table{
    position: relative;
}

.view table tbody {
    display: flex;
    position: absolute;
    top: -150px;
}

.view table tbody tr{
    display: flex;
    flex-direction: column;
    /* justify-content:flex-end; */
    align-items: center;
    margin: 0 30px;
}

.view table tbody tr th{
    color: #fff;
    padding: 20px 0;
    font-family: 'Amiri', serif;
    width: 200px;
    display: flex;
    justify-content: center;
}

.view table tbody tr td{
    overflow: hidden;
}

.view table tbody tr td img{
    width: 220px;
    height: 180px;
    transition-duration: 0.3s;
}

.view table tbody tr td img:hover {transform: scale(1.2, 1.2); transition-duration: 0.5s;}

/* 3. 섹션 */

section.myswiper .sec03 {
    background: url(../images/twg/sec03_bg.png) 0 20% no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.sec03 .line{
    width: 1px;
    height: 300px;
    background: #fff;
    position: absolute;
    top: 120px;
    left: 115px;
}

.sec03 .title{
    padding-top: 255px;
}

/* 4. 섹션 */

section.myswiper .sec04 {
    background: url(../images/twg/sec04_bg.png) 0 0 no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.sec04 .title{
    padding-top: 350px;
}

.sec04 .title .line{
    width: 400px;
    height: 3px;
    background: #fff;
}
