@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #281E1C;
}

body {
    background: #FFFEF1;
    padding: 0;
    margin: 0 auto;
    min-width: 1280px;
    color: #281E1C;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

header,
.menu,
section,
footer {
    width: 100%;
}

header {
    position: fixed;
    z-index: 600;
    background: #FFFEF1;
}

header .menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
    position: relative;
    align-items: center;
}

header .menu .logo_dark a {
    background: url(../images/twg/TWG_logo_dark.svg)0 0 no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 810px;
    z-index: 9999;
}

header .menu .right {
    display: flex;
    align-items: center;
}

header .menu .right .cart_dark,
header .menu .right .my_dark {
    position: relative;
    top: -1px;
    cursor: pointer;
}

header .menu .right .cart_dark {
    background: url(../images/twg/cart_dark.svg)0 0 no-repeat;
    width: 40px;
    height: 35px;
    background-size: contain;
    margin-right: 20px;
    padding-bottom: 40px;
}

header .menu .right .my_dark {
    background: url(../images/twg/my_dark.svg)0 0 no-repeat;
    width: 35px;
    height: 30px;
    background-size: contain;
}

.outline_dark {
    background: url(../images/twg/searchout_dark.svg) 0 0 no-repeat;
    background-size: contain;
}

.search_dark {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    background-image: url("../images/twg/search_dark.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 82% center;
    border-radius: 50px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin-right: 20px;
}

.search__input {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    color: #281E1C;
    font-family: 'Pretendard', sans-serif;
    letter-spacing: 1px;
}

header .menubar_dark {
    background: url(../images/twg/bar_dark.svg)0 0 no-repeat;
    width: 100%;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 110px;
}

/* 햄버거 메뉴 */

#toggle_dark {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1000;
}

#toggle_dark div.bar,
#toggle_dark div.bar:before,
#toggle_dark div.bar:after {
    width: 100%;
    height: 3px;
    background: #281E1C;
}

#toggle_dark div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}

#toggle_dark div.bar:before {
    content: " ";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}

#toggle_dark div.bar:after {
    content: " ";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
}

/* Animation */

#toggle_dark div.bar.animate {
    background: rgba(255, 255, 255, 0);
}

#toggle_dark div.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}

#toggle_dark div.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
}

#overlay_dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease, max-height 0s 0.6s ease;
    z-index: 100;
    opacity: 1;
    background: #e3dbd1ef;
}

#overlay_dark nav {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#overlay_dark nav ul,
#overlay_dark nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: static;
}

#overlay_dark nav ul {
    padding: 30px;
}

#overlay_dark nav ul li {
    margin-bottom: 10px;
    opacity: 0;
    transition: all 0.9s 0s ease;
    margin-left: 60px;
}

#overlay_dark nav ul li a {
    position: relative;
    width: fit-content;
    height: 50px;
    display: inline-block;
    transition: all 0.6s 0s ease;
    text-transform: normal;
    font-size: 35px;
    font-weight: 300;
    color: #281E1C;
    text-decoration: none;
    font-family: 'Amiri', serif;
}

#overlay_dark nav ul li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 3px;
    background: #281E1C;
    transition: all 0.6s 0s ease;
}

#overlay_dark nav ul li a:hover:after {
    width: 100%;
    opacity: 1;
}

#overlay_dark nav ul li a:hover {
    color: #888888;
}

#overlay_dark nav ul li a:nth-of-type(2) {
    display: none;
    font-size: 30px;
    font-family: 'pretendard', serif;
    letter-spacing: 1px;
}

#overlay_dark nav ul li:hover a:nth-of-type(2) {
    display: block;
}

#overlay_dark nav ul li:hover a:nth-of-type(1) {
    display: none;
}

#page.overlay #overlay_dark nav ul li:nth-child(1) {
    transition: all 0.9s 0.6s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(2) {
    transition: all 0.9s 0.8s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(3) {
    transition: all 0.9s 1.0s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(4) {
    transition: all 0.9s 1.2s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(5) {
    transition: all 0.9s 1.4s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(6) {
    transition: all 0.9s 1.6s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(7) {
    transition: all 0.9s 1.8s ease;
}

#page.overlay #overlay_dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 1200px;
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease;
}

#page.overlay #overlay_dark nav ul li {

    margin-left: 0;
    opacity: 1;
}

/* 커서 */

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%
}

.cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none;
}

.cursor2 {
    border: 2px solid #FEDB77;
    box-shadow: 0 0 22px rgba(254, 219, 119, 0.2);
}

.cursor2.hover {
    /* background: rgba(255, 255, 255, .1); */
    background: #281E1C;
    opacity: 0.2;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}


/* 서브페이지 1- 브랜드 소개 */

.brand_story {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 200px 150px 0px;
}

.brand_story .title {
    background: url(../images/twg/brand_story.png)0 0 no-repeat;
    background-size: contain;
    width: 400px;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 750px;
}

.brand_story .conbox1 {
    display: flex;
    justify-content: space-between;
    padding: 380px 300px 200px;
    position: relative;
}

@keyframes ani {
    100% {
        background-position: -170px 0;
    }
}

.ani {
    width: 85px;
    height: 140px;
    background: url(../images/twg/ani.png)0 0 no-repeat;
    background-size: 170px 140px;
    animation: ani 900ms infinite steps(2);
    opacity: 0.5;
    position: absolute;
    top: -50px;
    left: -55px;
}

.brand_story .conbox1 .teapot {
    background: url(../images/twg/teapot.svg)0 0 no-repeat;
    background-size: contain;
    width: 400px;
    height: 400px;
}

.brand_story .conbox1 .leaf {
    background: url(../images/twg/leaf.svg)0 0 no-repeat;
    background-size: contain;
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 250px;
    right: -500px;
    opacity: 0.5;
    z-index: -30;
}

.brand_story .conbox1 .text_area {
    width: 55%;
    padding: 80px 0 0 20px;
    position: relative;
}

.brand_story .conbox1 .text_area h1,
.brand_story .conbox2 h1,
.brand_story .conbox3 h1 {
    font-family: 'Amiri', serif;
    padding-bottom: 20px;
}

.brand_story .conbox1 .text_area p,
.brand_story .conbox2 .text_area p,
.brand_story .conbox3 p {
    line-height: 45px;
    letter-spacing: 1px;
    word-break: keep-all;
}

.brand_story .conbox1 .text_area .title {
    display: flex;
}

.brand_story .conbox1 .text_area .line {
    background: #281E1C;
    height: 1px;
    width: 60%;
    position: absolute;
    top: 115px;
    left: 210px;
}

.brand_story .conbox2 {
    padding: 0 150px;
    position: relative;
}

.brand_story .conbox2 h1 {
    text-align: center;
    background: #FFFEF1;
    position: absolute;
    margin: 0 auto;
    left: 585px;
    padding: 0 30px;
    top: -15px;
}

.brand_story .conbox2 .line {
    background: #281E1C;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

.brand_story .conbox2 .box {
    width: 100%;
    height: 550px;
    background: url(../images/twg/box.svg)0 0 no-repeat;
    background-size: contain;
    position: absolute;
    top: 225px;
    left: 375px;
}

.brand_story .conbox2 .con{
    padding: 170px 0px;
    text-align: center;
}
.brand_story .conbox2 .con h2{
    margin: 30px 0 20px;
}

.brand_story .conbox2 .iconbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_story .conbox2 .iconbox h3{
    font-size: 17px;
    padding: 5px 10px;
    background: rgba(227, 219, 209, 0.275);
    border-radius: 50px;
}

.brand_story .conbox2 .i01,
.brand_story .conbox2 .i02,
.brand_story .conbox2 .i03{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.brand_story .conbox2 .i02 h3{
    transform: translateY(-55%);
}

@keyframes i01 {
    100% {
        background-position: -160px 0;
    }
}

.brand_story .conbox2 .i01 .icon{
    width: 70px;
    height: 70px;
    background: url(../images/twg/icon1.png)0 0 no-repeat;
    background-size: 160px 80px;
    animation: i01 900ms infinite steps(2);
}

@keyframes i02 {
    100% {
        background-position: -315px 0;
    }
}

.brand_story .conbox2 .i02 .icon{
    width: 95px;
    height: 95px;
    background: url(../images/twg/icon2.png)0 0 no-repeat;
    background-size: 315px 105px;
    animation: i02 900ms infinite steps(3);
}

.clockbox{
    width: 55px;
    height: 60px;
    display: inline-block;
    position: relative;
}

.clock{
    width: 55px;
    height: 55px;
    border: 3px solid #281E1C;
    border-radius: 50%;
}

.clock::after{
    content: "";
    width: 3px;
    height: 25px;
    border-radius: 5px;
    background: #281E1C;
    position: absolute;
    top:3px;
    left: 48%;
    transform-origin: 50% 97%;
    animation: clocka 2s linear infinite;
}

@keyframes clocka{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.clock::before{
    content: "";
    width: 3px;
    height: 22px;
    background: #281E1C;
    position: absolute;
    top: 7px;
    left: 48%;
    transform-origin: 50% 94%;
    animation: clockb 12s linear infinite;
}

@keyframes clockb{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.brand_story .conbox2 .flower {
    background: url(../images/twg/flower.svg)0 0 no-repeat;
    background-size: contain;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 200px;
    left: -500px;
    z-index: 6;
    opacity: 0.2;
}

.brand_story .conbox3 {
    position: relative;
    padding: 100px 150px 0;
}

.brand_story .conbox3 h1 {
    text-align: center;
    background: #FFFEF1;
    position: absolute;
    margin: 0 auto;
    left: 190px;
    padding: 0 30px;
    top: 85px;
}

.brand_story .conbox3 .line {
    background: #281E1C;
    height: 1px;
    width: 90%;
    margin: 0 auto;
}

.brand_story .conbox2 p,
.brand_story .conbox3 p {
    padding: 70px 70px 0px;
}

.teabg {
    width: 100%;
    height: 100vh;
    background: url(../images/twg/teabg.svg)50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/* 스와이퍼 */

.brand_story .conbox4 {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.swiper-container {
    height: 400px;
    width: 100%;
    padding-bottom: 85px;
}

.swiper-wrapper {
    width: 73.8%;
    will-change: transform;
}

@media (min-width: 630px) {
    .swiper-wrapper {
        width: 100%;
    }
}

.swiper-slide {
    width: 100%;
    background-color: transparent;
    background: url(../images/twg/product_bg.png)50% 50% no-repeat;
    background-size: contain;
    overflow: hidden;
}

.swiper-slide.swiper-slide-active .slide-image,
.swiper-slide.swiper-slide-duplicate-active .slide-image {
    transform: scale3d(1, 1, 1);
}

@media (min-width: 630px) {
    .swiper-slide {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .swiper-slide {
        width: 33.333333%;
    }

    .swiper-slide.swiper-slide-next .slide-image,
    .swiper-slide.swiper-slide-prev .slide-image,
    .swiper-slide.swiper-slide-duplicate-next .slide-image,
    .swiper-slide.swiper-slide-duplicate-prev .slide-image {
        transform: scale3d(1, 1, 1);
    }
}

@media (min-width: 1024px) {
    .swiper-slide {
        width: 25%;
    }
}

.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
}

.swiper-pagination.swiper-pagination {
    bottom: 0;
}

.swiper-pagination-bullet {
    background: #FEDB77;
    width: 22px;
    height: 4px;
    border-radius: 0;
    transition: opacity 1s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet.swiper-pagination-bullet {
    margin: 0;
}

@media (min-width: 768px) {
    .swiper-pagination-bullet {
        width: 40px;
    }
}

.slide-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: scale3d(1.3, 1.3, 1);
    backface-visibility: hidden;
    will-change: transform;
    transition: transform 1400ms ease;
}

.slide-content {
    margin-left: 10px;
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.slide-content h4 {
    font-size: 25px;
    font-weight: 700;
    margin: 0 0 1rem;
    padding-top: 2.8rem;
    flex-grow: 0;
    font-family: 'Amiri', serif;
}

.slide-content p {
    display: flex;
    line-height: 1.8;
    margin-top: 0;
    font-size: 14px;
    flex-grow: 1;
}

.swiper-slide .text_area {
    width: 100%;
    height: 100vh;
    display: none;
}

.swiper-slide:hover .text_area {
    display: block;
}

.swiper-slide h1 {
    height: 100%;
    margin: 0;
    padding: 150px 50px;
    background: #281e1c60;
    color: #fff;
    text-align: center;
    font-family: 'Amiri', serif;
    font-size: 20px;
}

/* 푸터 */

footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3dbd1;
}

footer .logo {
    background: url(../images/twg/TWG_logo_dark.svg)0 0 no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
    margin-left: 50px;
}

footer .left {
    width: 33.3%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .left ul {
    text-align: center;
}

footer .left ul li {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
}

footer .left ul li a {
    position: relative;
    width: fit-content;
    transition: all 0.6s 0s ease;
    font-family: 'Amiri', serif;
    font-weight: 500;
}

footer .left ul li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 2px;
    background: #281E1C;
    transition: all 0.6s 0s ease;
}

footer .left ul li a:hover:after {
    width: 100%;
    opacity: 1;
}

footer .middle {
    width: 33.3%;
    height: 550px;
    word-break: keep-all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    border-left: 1px solid #e3dbd1;
    border-right: 1px solid #e3dbd1;
}

footer .middle p {
    line-height: 30px;
    font-size: 14px;
    padding-top: 20px;
}

footer .right {
    width: 33.3%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

footer .right .text h3,
footer .right .text p {
    line-height: 30px;
}

footer .right .text p {
    font-size: 14px;
}

footer .right ul {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

footer .right ul li {
    padding-right: 20px;
    font-size: 14px;
}

footer .right ul li:nth-of-type(3) {
    font-weight: 800;
    background: #e3dbd146;
    padding: 10px;
    border-radius: 50px;
}

/* 스크롤 애니메이션 */

.brand_story .conbox1 .teapot {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s ease-in-out;
}

.brand_story .conbox1.show .teapot {
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox1 .text_area h1 {
    opacity: 0;
    transform: translateX(40px);
    transition: all 0.9s 0.5s ease-in-out;
}

.brand_story .conbox1.show .text_area h1 {
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox1 .text_area .line {
    opacity: 0;
    width: 0;
    transition: all 0.9s 1.0s ease-in-out;
}

.brand_story .conbox1.show .text_area .line {
    opacity: 1;
    width: 60%;
}

.brand_story .conbox1 .text_area p {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.5s ease-in-out;
}

.brand_story .conbox1.show .text_area p {
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox2 .line {
    opacity: 0;
    width: 0;
    transition: all 0.9s ease-in-out;
}

.brand_story .conbox2.show .line {
    opacity: 1;
    width: 90%;
}

.brand_story .conbox2 h1 {
    opacity: 0;
    transform: translateY(-40px);
    transition: all 0.9s 0.5s ease-in-out;
}

.brand_story .conbox2.show h1 {
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox2 .text_area p {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.0s ease-in-out;
}

.brand_story .conbox2.show .text_area p {
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox2 .box{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.5s ease-in-out;
}

.brand_story .conbox2.show .box{
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox2 .con{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.5s ease-in-out;
}

.brand_story .conbox2.show .con{
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox2 .i01{
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s 1.8s ease-in-out;
}

.brand_story .conbox2.show .i01{
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox2 .i02{
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s 2.1s ease-in-out;
}

.brand_story .conbox2.show .i02{
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox2 .i03{
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s 2.4s ease-in-out;
}

.brand_story .conbox2.show .i03{
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox3 .teatime {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.3s ease-in-out;
}

.brand_story .conbox3.show .teatime {
    opacity: 1;
    transform: translateY(0);
}

.brand_story .conbox3 .line {
    opacity: 0;
    width: 0;
    transition: all 0.9s ease-in-out;
}

.brand_story .conbox3.show .line {
    opacity: 1;
    width: 90%;
}

.brand_story .conbox3 h1 {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.9s 0.5s ease-in-out;
}

.brand_story .conbox3.show h1 {
    opacity: 1;
    transform: translateX(0);
}

.brand_story .conbox3 p {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.9s 1.0s ease-in-out;
}

.brand_story .conbox3.show p {
    opacity: 1;
    transform: translateY(0);
}


/* 버튼 */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'Pretendard', sans-serif;
    letter-spacing: 3px;
    margin-left: 20px;
}

button.addtobag {
    width: 12rem;
    height: auto;
}

button.addtobag .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #281E1C;
    border-radius: 1.625rem;
}

button.addtobag .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.addtobag .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.addtobag .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.addtobag .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 3rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

button:hover .circle {
    width: 100%;
    background: #FEDB77;
}

button:hover .circle .icon.arrow {
    background: #281E1C;
    transform: translate(1rem, 0);
}

button:hover .circle .icon.arrow::before {
    border-top: 0.125rem solid #281E1C;
    border-right: 0.125rem solid #281E1C;
}

button:hover .button-text {
    color: #281E1C;
}

@supports (display: grid) {
    #container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
        grid-template-areas: ". main main ."". main main .";
    }

    #container {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}

