@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap');

* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #281E1C;
}

body {
    background: #FFFEF1;
    padding: 0;
    margin: 0 auto;
    min-width: 1280px;
    color: #281E1C;
    font-family: 'Pretendard', sans-serif;
    overflow-x: hidden;
}

header,
.menu,
section,
footer {
    width: 100%;
}

header {
    position: fixed;
    z-index: 600;
    background: #FFFEF1;
}

header .menu {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 40px auto;
    position: relative;
    align-items: center;
}

header .menu .logo_dark a {
    background: url(../images/twg/TWG_logo_dark.svg)0 0 no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    top: -20px;
    left: 810px;
    z-index: 9999;
}

header .menu .right {
    display: flex;
    align-items: center;
}

header .menu .right .cart_dark,
header .menu .right .my_dark {
    position: relative;
    top: -1px;
    cursor: pointer;
}

header .menu .right .cart_dark {
    background: url(../images/twg/cart_dark.svg)0 0 no-repeat;
    width: 40px;
    height: 35px;
    background-size: contain;
    margin-right: 20px;
    padding-bottom: 40px;
}

header .menu .right .my_dark {
    background: url(../images/twg/my_dark.svg)0 0 no-repeat;
    width: 35px;
    height: 30px;
    background-size: contain;
}

.outline_dark {
    background: url(../images/twg/searchout_dark.svg) 0 0 no-repeat;
    background-size: contain;
}

.search_dark {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    background-color: transparent;
    background-image: url("../images/twg/search_dark.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 82% center;
    border-radius: 50px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    margin-right: 20px;
}

.search__input {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

input {
    color: #281E1C;
    font-family: 'Pretendard', sans-serif;
    letter-spacing: 1px;
}

header .menubar_dark {
    background: url(../images/twg/bar_dark.svg)0 0 no-repeat;
    width: 100%;
    height: 20px;
    background-size: contain;
    position: absolute;
    top: 110px;
}

/* 햄버거 메뉴 */

#toggle_dark {
    position: absolute;
    top: 10px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1000;
}

#toggle_dark div.bar,
#toggle_dark div.bar:before,
#toggle_dark div.bar:after {
    width: 100%;
    height: 3px;
    background: #281E1C;
}

#toggle_dark div.bar {
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}

#toggle_dark div.bar:before {
    content: " ";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}

#toggle_dark div.bar:after {
    content: " ";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
}

/* Animation */

#toggle_dark div.bar.animate {
    background: rgba(255, 255, 255, 0);
}

#toggle_dark div.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}

#toggle_dark div.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
}

#overlay_dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease, max-height 0s 0.6s ease;
    z-index: 100;
    opacity: 1;
    background: #F8F3E3;
}

#overlay_dark nav {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

#overlay_dark nav ul,
#overlay_dark nav ul li {
    margin: 0;
    padding: 0;
    display: block;
    position: static;
}

#overlay_dark nav ul {
    padding: 30px;
}

#overlay_dark nav ul li {
    margin-bottom: 10px;
    opacity: 0;
    transition: all 0.9s 0s ease;
    margin-left: 60px;
}

#overlay_dark nav ul li a {
    position: relative;
    width: fit-content;
    height: 50px;
    display: inline-block;
    transition: all 0.6s 0s ease;
    text-transform: normal;
    font-size: 35px;
    font-weight: 300;
    color: #281E1C;
    text-decoration: none;
    font-family: 'Amiri', serif;
}

#overlay_dark nav ul li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 3px;
    background: #281E1C;
    transition: all 0.6s 0s ease;
}

#overlay_dark nav ul li a:hover:after {
    width: 100%;
    opacity: 1;
}

#overlay_dark nav ul li a:hover {
    color: #888888;
}

#overlay_dark nav ul li a:nth-of-type(2) {
    display: none;
    font-size: 30px;
    font-family: 'pretendard', serif;
    letter-spacing: 1px;
}

#overlay_dark nav ul li:hover a:nth-of-type(2) {
    display: block;
}

#overlay_dark nav ul li:hover a:nth-of-type(1) {
    display: none;
}

#page.overlay #overlay_dark nav ul li:nth-child(1) {
    transition: all 0.9s 0.6s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(2) {
    transition: all 0.9s 0.8s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(3) {
    transition: all 0.9s 1.0s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(4) {
    transition: all 0.9s 1.2s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(5) {
    transition: all 0.9s 1.4s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(6) {
    transition: all 0.9s 1.6s ease;
}

#page.overlay #overlay_dark nav ul li:nth-child(7) {
    transition: all 0.9s 1.8s ease;
}

#page.overlay #overlay_dark {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 1200px;
    opacity: 1;
    z-index: 100;
    transition: all 0.3s ease;
}

#page.overlay #overlay_dark nav ul li {

    margin-left: 0;
    opacity: 1;
}

/* 커서 */

.cursor,
.cursor2,
.cursor3 {
    position: fixed;
    border-radius: 50%;
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    left: -100px;
    top: 50%
}

.cursor {
    background-color: #fff;
    height: 0;
    width: 0;
    z-index: 99999;
}

.cursor2,
.cursor3 {
    height: 36px;
    width: 36px;
    z-index: 99998;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out
}

.cursor2.hover,
.cursor3.hover {
    -webkit-transform: scale(2) translateX(-25%) translateY(-25%);
    transform: scale(2) translateX(-25%) translateY(-25%);
    border: none;
}

.cursor2 {
    border: 2px solid #FEDB77;
    box-shadow: 0 0 22px rgba(254, 219, 119, 0.2);
}

.cursor2.hover {
    /* background: rgba(255, 255, 255, .1); */
    background: #281E1C;
    opacity: 0.2;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.2);
}


/* 서브페이지 2- 상품 페이지 */

/* 탭메뉴 */

section .fadeTab {
    width: 100%;
    margin: 0 0 100px 0;
    position: relative;
}

section .fadeTab ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

section .fadeTab ul li {
    height: 40px;
    line-height: 40px;
    padding: 0px 30px;
    margin: 0 0 0 20px;
    font-size: 17px;
    color: #281E1C;
    position: relative;
    cursor: pointer;
}

section .fadeTab ul li:first-child {
    margin: 0;
}

section .fadeTab ul li.on {
    color: #281E1C;
    border-bottom: 2px solid #281E1C;
    font-weight: 700;
}

/* 상품페이지 */

.shop_tea {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 200px 150px 0px;
}

.shop_tea .list{
    text-align: center;
    transform: translateY(-100px);
}

.shop_tea .list span{
    padding: 0px 10px;
}

.shop_tea .list span:nth-of-type(1){
    font-weight: 700;
}

.shop_tea .top {
    background: url(../images/twg/top.svg)50% 50% no-repeat;
    background-size: contain;
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

.shop_tea h1 {
    text-align: center;
    font-family: 'Amiri', serif;
    padding: 10px 0 50px 0;
    margin: 0;
}

section .fadeTab .conBox {
    width: 100%;
    /* background:#ccc; */
    padding: 80px 80px 0 80px;
    margin-top: 70px;
    color: #281E1C;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.conBox .item{
    display: inline-block;
    width: 30%;
    background: #F8F3E3;
    margin-bottom: 120px;
    position: relative;
}

.conBox .item .bag{
    background: url(../images/twg/Bag.png)0 0 no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 35px;
    right: 40px;
    opacity: 0;
}

.conBox .item:hover .bag{
    opacity: 1;
    transition: all 0.5s ease;
}

.conBox .item img{
    width: 100%;
    position: relative;
}

.conBox .item img:nth-of-type(2){
    width: 65%;
    position: absolute;
    left: 80px;
    top: 100px;
    opacity: 0;
}

.conBox .item:hover img:nth-of-type(2){
    opacity: 1;
    transition: all 0.5s ease;
}

.conBox .item:hover img:nth-of-type(1){
    opacity: 0;
    transition: all 0.5s ease;
}

.conBox .item .item_info_area{
    text-align: center;
    padding-bottom: 40px;
}

.conBox .item .item_info_area h1{
    padding: 0;
    font-size: 25px;
}

.conBox .item .item_info_area h2{
    font-size: 17px;
    font-weight: 300;
    padding: 10px;
}

.conBox .item .item_info_area button{
    border: 1px solid #281E1C;
    border-radius: 50px;
    padding: 5px 9px 5px 12px;
    line-height: 27px;
    font-size: 13px;
    margin: 0;
}

.conBox .item .item_info_area button:hover{
    border: 1px solid #FEDB77;
    background: #FEDB77;
    transition: all 0.5s ease;
}
/* 푸터 */

footer {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e3dbd1;
}

footer .logo {
    background: url(../images/twg/TWG_logo_dark.svg)0 0 no-repeat;
    background-size: contain;
    width: 300px;
    height: 200px;
    margin-left: 50px;
}

footer .left {
    width: 33.3%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer .left ul {
    text-align: center;
}

footer .left ul li {
    padding: 15px 0;
    font-size: 20px;
    font-weight: 500;
}

footer .left ul li a {
    position: relative;
    width: fit-content;
    transition: all 0.6s 0s ease;
    font-family: 'Amiri', serif;
    font-weight: 500;
}

footer .left ul li a:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    opacity: 0;
    height: 2px;
    background: #281E1C;
    transition: all 0.6s 0s ease;
}

footer .left ul li a:hover:after {
    width: 100%;
    opacity: 1;
}

footer .middle {
    width: 33.3%;
    height: 550px;
    word-break: keep-all;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    border-left: 1px solid #e3dbd1;
    border-right: 1px solid #e3dbd1;
}

footer .middle p {
    line-height: 30px;
    font-size: 14px;
    padding-top: 20px;
}

footer .right {
    width: 33.3%;
    height: 550px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

footer .right .text h3,
footer .right .text p {
    line-height: 30px;
}

footer .right .text p {
    font-size: 14px;
}

footer .right ul {
    display: flex;
    padding: 15px 0;
    align-items: center;
}

footer .right ul li {
    padding-right: 20px;
    font-size: 14px;
}

footer .right ul li:nth-of-type(3) {
    font-weight: 800;
    background: #F8F3E3;
    padding: 10px;
    border-radius: 50px;
}


/* 버튼 */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: 'Pretendard', sans-serif;
    letter-spacing: 3px;
    margin-left: 20px;
}

button.addtobag {
    width: 12rem;
    height: auto;
}

button.addtobag .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #281E1C;
    border-radius: 1.625rem;
}

button.addtobag .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.addtobag .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.addtobag .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.addtobag .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 3rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

button:hover .circle {
    width: 100%;
    background: #FEDB77;
}

button:hover .circle .icon.arrow {
    background: #281E1C;
    transform: translate(1rem, 0);
}

button:hover .circle .icon.arrow::before {
    border-top: 0.125rem solid #281E1C;
    border-right: 0.125rem solid #281E1C;
}

button:hover .button-text {
    color: #281E1C;
}

@supports (display: grid) {
    #container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 0.625rem;
        grid-template-areas: ". main main ."". main main .";
    }

    #container {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}
