/* twg 모바일 */
@charset "utf-8";

body {
    min-width: 320px;
}

header .menu {
    width: 90%;
    margin: 35px auto;
}

.sec01 .mainlogo {
    width: 80%;
    height: 500px;
    margin: 250px auto;
}

#toggle,
#toggle_dark {
    position: absolute;
    top: 10px;
    width: 25px;
    height: 21px;
    cursor: pointer;
    z-index: 1000;
    margin-left: 10px;
}

#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after {
    height: 2px;
    background: #fff;
}

#toggle_dark div.bar,
#toggle_dark div.bar:before,
#toggle_dark div.bar:after{
    height: 2px;
    background: #281E1C;
}

.outline {
    background: url(../images/twg/searchout.svg) 0 0 no-repeat;
    background-size: contain;
    width: 200px;
    margin-top: 3px;
}

.outline_dark {
    background: url(../images/twg/searchout_dark.svg) 0 0 no-repeat;
    background-size: contain;
    width: 200px;
    margin-top: 3px;
}

.search,
.search_dark {
    padding: 10px 15px;
    background-size: 20px 20px;
    background-position: 92% center;
    margin-right: 20px;
}

header .menu .right .cart {
    background: url(../images/twg/cart.svg)50% 50% no-repeat;
    background-size: contain;
    width: 32px;
    height: 27px;
    margin: 0 10px;
    padding-bottom: 0;
}

header .menu .right .cart_dark {
    background: url(../images/twg/cart_dark.svg)0 0 no-repeat;
    width: 32px;
    height: 27px;
    background-size: contain;
    margin: 0 10px;
    padding-bottom: 0;
}

header .menu .right .my {
    background: url(../images/twg/my.svg)50% 50% no-repeat;
    background-size: contain;
    width: 28px;
    height: 23px;
    margin-top: 3px;
}

header .menu .right .my_dark {
    background: url(../images/twg/my_dark.svg)0 0 no-repeat;
    width: 28px;
    height: 23px;
    margin-top: 3px;
    background-size: contain;
}

#overlay nav ul li a,
#overlay_dark nav ul li a {
    position: relative;
    width: fit-content;
    height: 40px;
    font-size: 22px;
}

#overlay nav ul li a:nth-of-type(2),
#overlay_dark nav ul li a:nth-of-type(2){
    font-size: 22px;
}

#overlay nav ul,
#overlay_dark nav ul{
    padding: 20px;
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    top: 140px;
    left: -10px;
    width: 100%;
    height: 20px;
}

.main_wrapper {
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: 10;
    width: auto;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(-12%, -40%);
    transform: translate(-12%, -40%);
    list-style: none;
}

.main_wrapper .main_name a{
    font-size: 15px;
    margin: 15px 0;
}

.main_wrapper .main_name.active a:nth-of-type(2) {
    font-size: 15px;
}

.main_img li .title_group {
    position: absolute;
    top: 35%;
    left: 30px;
    
}

.title h1 {
    width: 90%;
    font-size: 20px;
    color: #fff;
    font-family: 'Amiri', serif;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 40px;
    padding: 50px 0 10px 0;
}

.title h2{
    font-size: 14px;
    margin: 5px 0;
}

.title h3{
    font-size: 13px;
    padding: 10px 0 10px 0;
    margin: 0;
}

.sec02 .line {
    width: 1px;
    height: 245px;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    top: -120px;
    left: 5px;
}

button.addtobag{
    margin: 10px 0;
}

button.addtobag .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 3rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
}

button:hover .button-text {
    color: #281E1C;
  }


/* 서브페이지 */

.brand_story {
    padding:  400px 0px 0px;
}

.brand_story .title {
    width: 250px;
    height: 150px;
    top: 140px;
    left: 70px;
}

.brand_story .conbox1 {
    display: block;
    padding: 0 10px 0 10px;
}

.brand_story .conbox1 .teapot {
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

.brand_story .conbox1 .text_area {
    width: 90%;
    padding: 30px 10px 0px 10px;
    margin: 0 auto;
}
.brand_story .conbox2 .text_area {
    padding: 20px 10px 0px 10px;
}

.brand_story .conbox1 .text_area h1, .brand_story .conbox2 h1, .brand_story .conbox3 h1{
    font-size: 23px;
}

.brand_story .conbox1 .text_area .line {
    top: 55px;
    left: 135px;
}

.brand_story .conbox1.show .text_area .line {
    width: 52%;
}

.brand_story .conbox2 {
    padding: 30px 10px;
}

.brand_story .conbox2 h1 {
    margin: 0 auto;
    left: 40px;
    padding: 0 10px;
    top: 60px;
}

.brand_story .conbox2 .box {
    top: 375px;
    left: 0px;
}

.brand_story .conbox2 .con {
    padding: 15px 0px;
}

.brand_story .conbox2 .con h2 {
    margin: 0px 0 10px;
    font-size: 17px;
}

.brand_story .conbox2 .i01, .brand_story .conbox2 .i02, .brand_story .conbox2 .i03{
    width: 150px;
}

.brand_story .conbox2 .iconbox h3 {
    font-size: 13px;
    padding: 5px 3px;
    background: #F8F3E3;
    border-radius: 50px;
}

.brand_story .conbox2 .iconbox{
    width: 80%;
    margin: 0 auto;
}

.brand_story .conbox3 {
    padding: 30px 10px;
}

.brand_story .conbox3 h1 {
    left: 200px;
    top: 60px;
    margin: 0 auto;
    left: 40px;
    padding: 0 10px;
}

.brand_story .conbox3 p {
    padding: 70px 20px 0px;
}

.subswiper .swiper-slide h1 {
    padding: 110px 50px;

}
.swiper-container-horizontal>.swiper-pagination-bullets{
    top: 30px;
    left: 0px;
    width: 100%;
    height: 20px;
}

.slide-content h4 {
    font-size: 23px;
    padding-top: 2.4rem;
    padding-left: 20px;
    width: 186px;
}

.slide-content p{
    font-size: 12px;
    padding: 0 20px;
}

.slide-content {
    padding: 20px 20px;
}


footer {
    display: block;
}

footer .left,
footer .middle,
footer .right{
    width: 100%;
    height: 400px;
    padding: 25px 20px;
    line-height: 0px;
}

footer .left{
    display: none;
}

footer .right ul{
    line-height: 15px;
    padding: 0;
}

footer .logo {
    width: 200px;
    height: 90px;
    margin-left: 100px;
    margin-bottom: 10px;
}

footer .middle p:nth-of-type(1),
footer .middle p:nth-of-type(2){
    display: none;
}

footer .middle{
    height: 180px;
    padding: 0px 20px 0px 20px;
}

footer .right{
    height: 160px;
}

footer .middle p{
    margin: 0;
}

footer .right .text h3:nth-of-type(2),
footer .right .text p:nth-of-type(2){
    display: none;
}

footer .right .text h3, footer .right .text p {
    line-height: 25px;
}

/* 서브페이지2 */

.shop_tea h1{
    font-size: 25px;
    padding: 10px 0 20px 0;
}

section .fadeTab ul li {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    margin: 0 0 0 10px;
    font-size: 15px;
}

section .fadeTab .conBox {
    padding: 10px 20px 0 20px;
}

.conBox .item {
    width: 48%;
    margin-bottom: 30px;
}

.conBox .item .item_info_area h1 {
    font-size: 18px;
}

.conBox .item img:nth-of-type(2) {
    left: 25px;
    top: 35px;
}

.conBox .item .bag {
    top: 15px;
    right: 15px;
    width: 20px;
    height: 20px;
}

.conBox .item .item_info_area h2 {
    font-size: 14px;
    padding: 5px;
    margin: 5px 0;
}

.shop_tea .list{
    transform: translateY(-50px);
}

.conBox .item .item_info_area button {
    padding: 4px 9px 4px 12px;
    font-size: 12px;
}

.conBox .item .item_info_area {
    padding-bottom: 20px;
}