/* 유한킴벌리 태블릿 */
@charset "utf-8";

body {
    min-width: 640px;
}

.inner {
    width: 90%;
}

header {
    width: 100%;
}

header .top .h_inner {
    width: 100%;
    height: 100px;
    display: block;
    position: relative;
}

header .top .h_inner .logo {
    position: absolute;
    top: 35px;
    left: 50px;
}

header .top .h_inner .logo.active {
    opacity: 0;
    visibility: hidden;
}

header .top:hover .h_inner .logo {
    background: url("../images/yuhan/logo.svg") no-repeat;
    position: absolute;
    top: 35px;
    left: 50px;
}

header .top:hover .h_inner.sticky .logo {
    background: url("../images/yuhan/logo_dark.svg") 0 0 no-repeat;
}

header .top:hover {
    background: transparent;
}

header .top .h_inner .gnb {
    display: none;
}

header .top .h_inner .global {
    padding: 0px;
    display: flex;
    width: 30%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s;
    position: absolute;
    top: 35px;
    left: 400px;
}

header .top:hover .h_inner .global a span,
header .top:hover .h_inner .global .first{
    color: #fff;
}

header .top .h_inner .global.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s;
}

header .top .h_inner .global a,
header .top .h_inner .global .first {
    font-size: 20px;
}

header .top .h_inner .more_button {
    display: block;
    position: absolute;
    top: 35px;
    right: 50px;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}

header .top .h_inner .more_button .icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/yuhan/icon_menu.svg)no-repeat;
    background-size: cover;
}

header .top .h_inner.sticky .more_button .icon {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/yuhan/icon_menu_dark.svg)no-repeat;
    background-size: cover;
}

header .top .h_inner .more_button.active .icon {
    background: url(../images/yuhan/icon_close.svg)no-repeat;
    background-size: cover;
}

header .top .h_inner .more_logo {
    display: block;
    width: 200px;
    height: 36px;
    background: url(../images/yuhan/logo.svg)no-repeat;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    position: absolute;
    top: 35px;
    left: 50px;
}

header .top .h_inner .more_logo.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

header .top .h_inner.sticky .gnb span,
header .top .h_inner.sticky .global span {
    color: #fff;
}

header .top .h_inner .more_sns {
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s;
    left: 500px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

header .top .h_inner .more_sns.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s;
}

header .top .h_inner .more_sns .sns_icon {
    display: flex;
}

header .title .text_area {
    padding: 40% 60px;
}

header .title h1 {
    font-size: 65px;
}

header .title p {
    font-size: 20px;
}

/* 모바일 태블릿 아코디언 메뉴 */

#wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: 0.3s;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 180px 0px;
    background: url(../images/yuhan/bg2.png)no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
    overflow-y: scroll;
  }

  #wrapper.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    transition: 0.3s;
  }
  
  /* Accordion Container */
  .m_menu {
    width: 80%;
    /* max-width: 500px;
    min-width: 300px; */
    position: relative;
  }
  
  /* shadow */
  .m_menu:before {
    content: '';
    position: absolute;
    width: calc(100% - 30px);
    height: 100%;
    margin: 0;
    left: 15px;
    background-color: transparent;
    top: 0px;
    box-shadow: 0px 20px 40px #52616b;
    opacity: 0.2;
    z-index: -1;
    transition: ease-in-out 0.6s all;
  }
  
  .m_menu:hover.m_menu:before {
    box-shadow: 0px 40px 90px #52616b;
  }
  
  .m_menu ul {
    margin: 0;
    padding: 0;
    border-radius: 3px;
  }
  
  .accordionTitle {
    padding: 18px;
    position: relative;
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    color: #fff ;
    transition: ease-in-out 0.2s all;
    cursor: pointer;
  }
  
  .accordionTitle:hover {
    padding-left: 30px;
  }
  
  /* Accordion Item line */
  .accordionTitle:before,
  .accordionTitle:after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s all;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .accordionTitle:before {
    width: 100%;
    background-color: #c9d6df;
  }
  
  .accordionTitle:after {
    background-image: linear-gradient(90deg, #52616b, #c9d6df);
    width: 0%;
  }
  
  .accordionTitle:hover::after {
    width: 100%;
  }
  
  /* Accordion Item line - Active */
  .accordionTitleActive:after {
    content: '';
    position: absolute;
    height: 2px;
    border-radius: 50px;
    transition: ease-in-out 0.6s all;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .accordionTitleActive:after {
    background-image: linear-gradient(90deg, #52616b, #009FE3);
    width: 100%;
  }
  
  /* Accordion Item Icon  */
  .accIcon {
    float: right;
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: -3px;
    align-items: center;
    justify-content: center;
  }
  
  .accIcon:before,
  .accIcon:after {
    content: '';
    position: absolute;
    border-radius: 50px;
    background-color: #c9d6df;
    transition: ease 0.3s all;
  }
  
  .accIcon:before {
    width: 2px;
    height: 20px;
  }
  
  .accIcon:after {
    width: 20px;
    height: 2px;
  }
  
  .accordionTitle:hover .accIcon:before,
  .accordionTitle:hover .accIcon:after {
    background-color: #fff;
  }
  
  .accIcon.anime.accIcon:before {
    transform: rotate(90deg);
  }
  
  /* subgnball */  
  
  .accordion .item .subgnball {
    opacity: 0;
    height: 0;
    padding: 0px 20px;
    position: relative;
    font-size: 16px;
    font-weight: 200;
    transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
    overflow: hidden;
    letter-spacing: -0.8px;
  }

  .accordion .item .subgnball ul li ul li {
    padding: 10px;
  }

  .accordion .item .subgnball ul > li > ul > li:hover{
background: #009fe34b;
font-weight: 500;
  }

  .accordion .item .subgnball ul > li > ul > li > ul{
    padding-top: 15px;
  }

  .accordion .item .subgnball ul li ul li > ul li{
    padding: 5px 20px;
    opacity: 0.7;
  }
  
  /* Text Content - Class for JS to hide and show */
  .accordion .item .subgnball.show {
    opacity: 1;
    height: auto;
    padding: 20px;
    position: relative;
    z-index: 0;
  }

.company {
    margin: 235px 0 130px 0;
}

.company_top .rec {
    left: 280px;
}

.company_top .picture {
    height: 500px;
}

.company_top .logo_w {
    width: 37%;
    height: 37%;
    position: absolute;
    top: 140px;
    left: 10px;
}

.company_top .text_area {
    padding: 50px 60px;
}

.company_top .text_area h1 {
    font-size: 55px;
    font-weight: 700;
    padding-bottom: 20px;
}

.company_top .text_area p {
    padding-top: 10px;
    line-height: 40px;
}

.hoverslide {
    top: -60px;
    left: 0;
    width: 100%;
    height: 250px;
}

.hoverslide .box .icon {
    width: 60px;
    height: 60px;
    margin: 10px 0;
}

.hoverslide .box h1 {
    font-size: 25px;
    font-weight: 700;
    line-height: 70px;
}

.hoverslide .box:hover .icon {
    display: none;
}

.hoverslide .box:hover h2 {
    display: none;
}

.sm .inner {
    width: 100%;
}

.sm .text_area h1,
.newsroom h1,
.yk_story h1,
.brand h1 {
    font-size: 40px;
}

.sm .text_area p,
.forest .text_area p,
.volunteer .text_area p,
.woman .text_area p,
.brand p,
.company_top .text_area p {
    font-size: 16px;
}

.sm .text_area span {
    font-size: 22px;
}

.sm .group .box p {
    font-size: 17px;
}

.forest .text_area h1,
.volunteer .text_area h1,
.woman .text_area h1 {
    font-size: 35px;
}

.forest .text_area span {
    font-size: 50px;
}

.forest .text_area h1,
.volunteer .text_area h1,
.woman .text_area h1 {
    padding: 20px 0;
}

.forest .text_area h2,
.woman .text_area h2,
.volunteer .text_area h2 {
    font-size: 22px;
}

.forest .text_area p,
.volunteer .text_area p,
.woman .text_area p {
    padding-top: 80px;
    line-height: 40px;
}

.forest,
.woman,
.volunteer {
    display: inherit;
    justify-content: space-between;
    position: relative;
}

.forest .forest_video,
.volunteer .volunteer_video {
    width: 100%;
}

.woman .woman_pic {
    width: 100%;
    height: 500px;
    background-size: auto;
    margin-left: 0;
}

.forest .text_area,
.volunteer .text_area {
    width: 100%;
}

.woman .text_area {
    width: 100%;
    margin: 0;
    padding: 0 120px;
    text-align: left;
}

.forest .text_area p,
.volunteer .text_area p {
    margin-bottom: 80px;
}

.woman .text_area .add_circle {
    top: 500px;
}

.photobox {
    margin: 80px 0;
}

.pic {
    overflow: hidden;
    max-width: 200px;
    height: 130px;
}

.pic h3 {
    font-size: 15px;
}

.newsroom .bg_title h1 {
    font-size: 90px;
    transform: translateX(0%);
    text-align: right;
    width: 100%;
    padding: 0 0 0 100px;
}

.mySwiper .swiper-button-next {
    transform: translateX(-2000%);
}


.news_group .box {
    width: 50% !important;
    height: 400px;
    padding: 50px 50px 40px 50px;
    margin-top: 10px;
}

.swiper {
    width: 90%;
}


.yk_sec .add_circle {
    left: 620px;
}

.yk_group {
    width: 90%;
}

.yk_group .box {
    width: 300px;
    height: 180px;
}

.yk_group .text_area {
    width: 300px;
    padding: 10px;
}

.yk_group .text_area p {
    width: 80%;
    padding-left: 0;
}

.yk_group .box.b05 {
    background: url(../images/yuhan/yk5.jpg) 50% 20% no-repeat;
    background-size: cover;
}

.yk_story {
    margin: 600px 0 20px 0;
    height: 200px;
}

.brand p {
    padding: 30px 0;
}

.brand .bg_logo {
    margin-top: 0px;
    top: -100px;
}

.container {
    display: block;
}

.sidebar {
    width: 100%;
    height: 100%;
    text-align: center;
    height: 480px;
    top: 80px;
    background: #fff;
    z-index: 10;
    padding-top: 80px;
}

.content {
    width: 100%;
    height: 50%;
}

.ccm {
    padding: 0;
    width: 90%;
}

.ccm .inner {
    display: block;
}

.ccm .faq,
.ccm .inquiry {
    width: 100%;
    height: 80%;
    margin-bottom: 30px;
}

.ccm .icon {
    width: 90px;
    height: 90px;
}

.ccm h3 {
    font-size: 25px;
}

footer .bottom {
    padding: 20px 100px;
}

