@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}


* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
}

.inner {
  width: 1200px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}


h4 {
  color: #009FE3;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.logo {
  background: url(../images/yuhan/logo.svg) 0 0 no-repeat;
  width: 147.32px;
  height: 36px;
  margin: 0 50px;
}


.menu {
  margin: 0 50px;
}

.menu ul li {
  display: inline-block;
  padding: 55px 0px 55px 55px;
}

.search {
  vertical-align: top;
}

.main_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrap video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -99;
}

.main_wrap .text_area {
  position: relative;
  top: -70px;
  left: -500px;
  z-index: 1;
  max-width: 1000px;
  color: #fff;
}

.main_wrap .text_area h1 {
  font-size: 75px;
  text-shadow: 2px 2px 15px rgba(83, 83, 83, 0.767);
}

.main_wrap .text_area p {
  font-size: 23px;
  padding: 20px 0;
}

/*  기업소개 */

.company {
  text-align: center;
  position: relative;
}

.company .line {
  border: 1px solid black;
  width: 0.1px;
  height: 200px;
}

.company .circle {
  position: absolute;
  top: 185px;
  left: 35.5%;
  width: 60px;
  height: 60px;
  background: #009FE3;
  border-radius: 50%;
  z-index: -10;
}

.company>h1 {
  font-size: 60px;
  padding-bottom: 50px;
  letter-spacing: -2px;
}


.company p {
  padding-top: 30px;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 50px;

}

.hoverslide {
  width: 100%;
  height: 550px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin: 100px 0;
}


.hoverslide .box {
  flex: 1 1 25%;
  height: 100%;
  background: #939ea8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hoverslide .box.b01 {
  background: url(../images/yuhan/company_about.png) 50% 50% no-repeat;
  background-size: cover;
}

.hoverslide .box.b02 {
  background: url(../images/yuhan/company_history.png) 20% 20% no-repeat;
  background-size: cover;
}

.hoverslide .box.b03 {
  background: url(../images/yuhan/company_report.png) 50% 50% no-repeat;
  background-size: cover;
  color: #000;
}

.hoverslide .box.b04 {
  background: url(../images/yuhan/company_recruit.png) 50% 50% no-repeat;
  background-size: cover;
}

.hoverslide .box button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  border: 1px solid #FFF;
  display: none;
  margin-top: 60px;
}


.hoverslide .box:hover button {
  display: block;
  transition: all 1s ease-out;

}

.hoverslide .box h1 {
  width: 100%;
  text-align: center;
  color: #fff;
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  line-height: 70px;
}

.hoverslide .box h2 {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.hoverslide .box p {
  display: none;
  color: #fff;
  font-weight: 400;
}

.hoverslide .box:hover h2,
.hoverslide .box:hover h1,
.hoverslide .box:hover p {
  position: relative;
  animation: fadeInUp 1s;
}


.hoverslide .box:hover p {
  display: block;
}

.hoverslide .box:hover {
  flex: 1 1 100%;
  transition: all 0.5s ease-out;
}

.hoverslide .box:hover h1 {
  display: block;
  transition: all 1s ease-out;
}


/* 지속가능경영 */

.sm {
  padding: 100px 0;
  /* background: #F4F4F4; */
  width: 100%;
  height: auto;
  animation: fadeInUp 2s;
}

.sm .inner {
  display: flex;
  justify-content: space-between;
}

.sm .text_area {
  margin: 0;
}

.sm .text_area h1 {
  font-size: 40px;
  font-weight: 600;
}

.sm .text_area p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}


.sm .text_area span {
  font-size: 25px;
  font-weight: 600;
  color: #009FE3;
}

.sm .group {
  margin: 0;
  display: flex;
}

.sm .group .box {
  margin-left: 50px;
  width: 200px;
  height: 300px;
  background: #fff;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 40px #e4e4e457;
  padding: 40px 0;
}

.sm .group .box h3 {
  font-size: 1.8rem;
  color: #C4C4C4;
  font-weight: 700;
}

.sm .group .box p {
  font-size: 18px;
  line-height: 25px;
}

.sm .group .box img {
  margin: 20px 0;
}


.sm .group .box:hover {
  background: #009FE3;
  color: #fff;
  transition: all 1.5s;
}

.main_wrap button,
.sm button,
.brand button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: #009FE3;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

/* 주요활동 */

.contents {
  padding: 100px 0;
  text-align: center;
}

.contents .line {
  border: 1px solid black;
  width: 0.1px;
  height: 200px;
}

.contents h1 {
  font-size: 40px;
  padding: 20px 0;
}

.tab {
  width: 100%;
  margin: 0 0 100px 0;
  position: relative;
  margin: 100px 0;
}

.tab ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab ul li {
  width: 180px;
  height: 60px;
  line-height: 60px;
  padding: 0px 10px;
  margin: 0 0 0 30px;
  background: #FFF;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #009FE3;
  border-radius: 25px;
  color: #009FE3;
}

.tab ul li:first-child {
  margin: 0;
}

.tab ul li.on {
  background: #009FE3;
  color: #FFF;
  transition: all 0.3s ease-in
}

.tab .conBox {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab .conBox.on {
  display: block;
}

.forest {
  display: flex;
  justify-content: space-between;
}

.forest .text_area {
  width: 50%;
  margin: 0;
  padding: 0 120px;
  text-align: left;
}

.forest .text_area h1{
padding: 50px 0;
}
.forest .text_area h2{
  font-style: italic;
  font-weight: 400;
}

.forest .text_area p{
  padding: 100px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

.forest .forest_video {
  width: 50%;
  /* max-width: 100%; */
  height: auto;
  margin: 0;
}

.forest .forest_video video {
width: 100%;
}

/* 고객중심경영 */

.ccm {
  padding: 200px 0;
}


.ccm .text_area h1 {
  font-size: 40px;
  font-weight: 600;
}

.ccm .text_area p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

/* 뉴스룸 */

.newsroom {
  background: rgba(192, 192, 192, 0.075);
  padding: 150px 0;
  overflow: hidden;
}


.newsroom h1 {
  padding-bottom: 100px;
  font-weight: 500;
  font-size: 40px;
}

.news_group {
  display: flex;
  align-content: space-between;
}

.news_group .box {
  width: 360px;
  height: 250px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 40px #e4e4e457;
  padding: 40px;
}

.news_group .box:hover {
  background: #009FE3;
  transition: all 1.5s;
  color: #fff;
}

.news_group button {
  width: 105px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  margin-top: 60px;
}

.news_group .box:hover button {
  color: #FFF;
  border: 1px solid #FFF;
  transition: all 1.5s;
}

.news_group .box.b01 {
  margin-left: 0;
}

.news_group .box.b03 {
  margin-right: 0;
}

.swiper {
  width: 100%;
  position: relative;
  overflow: visible;
}

.mySwiper .swiper-pagination {
  position: absolute;
  bottom: -80px;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 8px;
  border-radius: 0%;
  background: #009FE3;
}

.mySwiper .bt {
  display: flex;
  justify-content: flex-start;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  position: absolute;
  top: -50px;
}

.mySwiper .swiper-button-prev {
  transform: translateX(-40%);
  background: url(../images/yuhan/button_prev2.svg) no-repeat;
  background-size: 100% auto;
}

.mySwiper .swiper-button-next {
  transform: translateX(-4100%);
  background: url(../images/yuhan/button_next2.svg) no-repeat;
  background-size: 100% auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


/* 브랜드 */

.brand {
  padding: 200px 0;
}

.brand h1 {
  font-weight: 500;
  font-size: 40px;
}

.brand p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

.wrap {
  width: 100%;
  margin: 50px auto;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.wrap .box {
  width: 30%;
  height: 400px;
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.wrap .box p {
  width: 100%;
  height: 400px;
  margin: 0;
  padding: 20px;
  color: #fff;
  transform: translateY(100%);
}

.wrap .box.b01 {
  background: url(../images/yuhan/core.png) 50% 50% no-repeat;
  background-size: 150%;
}

.wrap .box.b02 {
  background: url(../images/yuhan/core.png) 50% 50% no-repeat;
  background-size: 200%;
}

.wrap .box.b03 {
  background: url(../images/yuhan/core.png) 50% 50% no-repeat;
  background-size: 150%;
}

.wrap .box.b01 p {
  background: #E2211C;
}

.wrap .box.b02 p {
  background: #8ebb58;
}

.wrap .box.b03 p {
  background: #bb588e;
}

.wrap .box:hover {
  background-size: 180%;
  transition: all 0.5s;
}

.wrap .box.b02:hover {
  background-size: 180%;
  transition: all 0.5s;
}

.wrap .box:hover p {
  transform: translateY(0%);
  transition: all 0.5s;
}

footer {
  background: #2e2e2e;
  padding: 100px 0;
}