/* 유한킴벌리 모바일 */
@charset "utf-8";

body {
    min-width: 320px;
}

h4 {
    font-size: 14px;
}

header {
    width: 100%;
}

header .title .text_area {
    text-align: center;
    padding: 40% 0;
}

header .title h1 {
    font-size: 35px;
}

header .title p {
    font-size: 16px;
}

header .top .h_inner .logo{
    left: 20px;
}

header .top:hover .h_inner .logo{
    left: 20px;
}

header .top .h_inner .more_logo{
    left: 20px;
}

header .top .h_inner .more_button{
    right: 20px;
    width: 35px;
    height: 35px;
}

#wrapper{
    padding: 120px 0px;
}

.accordionTitle{
    padding: 13px;
    font-size: 16px;
    font-weight: 400;
}

.accordion .item .subgnball.show{
    padding: 10px;
}

.accordion .item .subgnball ul li ul li{
    padding: 7px;
    font-size: 15px;
}

header .top .h_inner .global{
    top: 35px;
    line-height: 30px;
    left: 200px;
}

header .top .h_inner .global a,
header .top .h_inner .global .first{
    font-size: 15px;
}

/* header .top .h_inner .global a:nth-of-type(2){
    display: none;
} */

header .top .h_inner .more_sns{
    bottom: 20px;
    left: 160px;
}

.company {
    margin: 0;
    padding: 0 0 160px 0;
}

.company_top {
    display: block;
}

.company_top .picture {
    width: 100%;
    height: 340px;
}

.company_top .logo_w {
    top: 55px;
    left: 36%;
    width: 30%;
    height: 30%;
}

.company_top .text_area {
    padding: 30px;
    width: 100%;
}

.company_top .text_area h1 {
    font-size: 45px;
}

.company_top .text_area p {
    font-size: 15px;
}

.company_bottom {
    position: inherit;
    height: 320px;
}

.hoverslide {
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: block;
    position: inherit;
    z-index: 20;
    box-shadow: 0px 0px 0px #41414125;
}

.hoverslide .box {
    flex-direction: row-reverse;
    padding: 0 50px;
    box-shadow: inset 0px 0px 40px #a8a8a825;
}

.hoverslide .box h1 {
    font-size: 20px;
}

.hoverslide .box h2 {
    display: none;
}

.hoverslide .box p {
    font-size: 14px;
}

.hoverslide .box .icon {
    width: 70px;
    height: 70px;
    margin-left: 50px;
}

.hoverslide .box:hover h2,
.hoverslide .box:hover h1,
.hoverslide .box:hover p {
    display: none;
}

.hoverslide .box.b01 button,
.hoverslide .box.b02 button,
.hoverslide .box.b04 button,
.hoverslide .box.b03 button {
    margin-top: 0;
}

.sm .text_area h1,
.forest .text_area h1,
.volunteer .text_area h1,
.woman .text_area h1,
.newsroom h1,
.yk_story h1,
.brand h1,
.contents h1 {
    font-size: 30px;
}

.sm .text_area p,
.forest .text_area p,
.volunteer .text_area p,
.woman .text_area p,
.brand p,
.company_top .text_area p {
    font-size: 15px;
}

.sm {
    padding: 90px 0 40px 0;
    position: inherit;
}

.sm .inner {
    width: 90%;
}

.sm .group {
    display: block;
    position: inherit;
    padding: 10px 0;
}

.sm .group .box {
    width: 90%;
    height: 250px;
    margin-bottom: 40px;
}

.contents .line {
    height: 150px;
}

.contents {
    width: 100%;
}

.tab {
    width: 90%;
    margin: 30px auto;
}

.tab ul li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin: 0 0 0 10px;
    font-size: 14px;
    overflow: hidden;
}

.tab ul li:nth-of-type(1) {
    display: none;
}


.tab ul li:nth-of-type(2) {
    margin-left: 0;
    display: block;
}

.tab ul li:nth-of-type(3) {
    display: none;
}

.tab ul li:nth-of-type(4) {
    display: block;
}

.news_group .box {
    width: 92% !important;
    height: 300px;
    margin-top: 30px;
    padding: 35px 40px 30px 40px;
}

.newsroom h3 {
    font-size: 17px;
    line-height: 32px;
    margin: 10px 0;
}

.newsroom h5 {
    -webkit-line-clamp: 3;
    color: #777777;
    line-height: 1.7em;
    font-size: 14px;
    margin: 10px 0;
}

.mySwiper .swiper-button-next {
    transform: translateX(-750%);
}

.forest .text_area,
.volunteer .text_area,
.woman .text_area {
    padding: 0 30px;
}

.forest .text_area h1 {
    font-size: 22px;
}

.forest .text_area span,
.volunteer .text_area h1,
.woman .text_area h1 {
    font-size: 30px;
}

.forest .text_area h2,
.woman .text_area h2,
.volunteer .text_area h2 {
    font-size: 18px;
}

.forest .text_area p,
.volunteer .text_area p,
.woman .text_area p {
    padding-top: 20px;
}

.forest .text_area .add_circle,
.volunteer .text_area .add_circle {
    font-size: 40px;
    top: 5px;
}

.woman .text_area .add_circle {
    font-size: 40px;
    top: 305px;
}

.woman .woman_pic {
    height: 300px;
    background-size: contain;
}

.photobox {
    margin: 30px 0;
}

.newsroom {
    margin: 50px 0 0 0;
}

.newsroom h1 {
    padding-bottom: 20px;
}

.news_date{
    padding-top: 10px;
}

.news_date p{
    font-size: 14px;
}

.news_date .share{
    font-size: 25px;
}

.newsroom .bg_title h1 {
    font-size: 70px;
    line-height: 70px;
    text-align: right;
    width: 100%;
    padding: 0 0 0 100px;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
    top: -15px;
}

.yk_sec {
    padding: 0 0 50px 0;
}

.yk_sec .sns_icon a {
    margin: 0 5px;
}

.sns1,
.sns2,
.sns3,
.sns4 {
    width: 40px;
    height: 40px;
}

.sns1 {
    background: url(../images/yuhan/sns_footer_m.png) 0 0 no-repeat;
}

.sns2 {
    background: url(../images/yuhan/sns_footer_m.png) 0 0 no-repeat;
    background-position: -40px 0;
}

.sns3 {
    background: url(../images/yuhan/sns_footer_m.png) 0 0 no-repeat;
    background-position: -80px 0;
}

.sns4 {
    background: url(../images/yuhan/sns_footer_m.png) 0 0 no-repeat;
    background-position: -120px 2px;
}

.yk_sec .add_circle {
    left: 300px;
    top: 82px;
    font-size: 45px;
}

.yk_group {
    width: 80%;
}

.yk_group .box {
    width: 100%;
}

.yk_group .text_area {
    width: 100%;
}

.yk_group .text_area p {
    width: 80%;
}

.yk_group .box.b05 {
    background: url(../images/yuhan/yk5.jpg) 50% 45% no-repeat;
    background-size: cover;
}

.mySwiper .swiper-pagination {
    position: absolute;
    bottom: -40px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #000;
}

.yk_story {
    height: 180px;
    margin: 450px 0 20px 0;
}

.yk_story .inner {
    top: -370px;
}

.sidebar {
    height: 350px;
    top: 50px;
}

.brand .inner {
    width: 100%;
}

.newsroom h1,
.brand h1 {
    font-size: 25px;
}

.brand p {
    line-height: 30px;
    padding: 20px 0;
}


.content .box {
    width: 60%;
    height: 120px;
}

.content .box.b01,
.content .box.b02,
.content .box.b03,
.content .box.b04,
.content .box.b05,
.content .box.b06,
.content .box.b07,
.content .box.b08,
.content .box.b09,
.content .box.b10,
.content .box.b11,
.content .box.b12,
.content .box.b13,
.content .box.b14,
.content .box.b15 {
    background-size: contain;
}

.ccm {
    width: 100%;
    margin: 40px 0;
}

.ccm h3 {
    font-size: 20px;
}

.ccm p {
    display: none;
}

.ccm .faq,
.ccm .inquiry {
    height: 90px;
    margin-bottom: 20px;
}

.ccm .icon {
    width: 60px;
    height: 60px;
}

footer .top {
    display: block;
    padding: 0px;
}

footer .info {
    margin: 0 auto;
    width: 90%;
    font-size: 14px;
    text-align: center;
}

.top .info p {
    font-size: 13px;
    padding-right: 0px;
}

footer .sns_icon {
    justify-content: center;
}

footer .bottom {
    padding: 20px 30px;
}

footer .logo {
    background: url(../images/yuhan/footer_logo.svg) 0 0 no-repeat;
    background-size: contain;
    width: 147.32px;
    height: 23px;
    margin: 0 20px 0 0;
}