/* 유한킴벌리 모바일 */
@charset "utf-8";

body {
    min-width: 320px;
}

header {
    width: 100%;
}

header .title .text_area {
    text-align: center;
    padding: 40% 0;
}

header .title h1 {
    font-size: 35px;
}

header .title p {
    font-size: 16px;
}

.company{
    margin: 0 0 130px 0;
    padding: 0 0 200px 0;
}

.company_top{
    display: block;
}

.hoverslide {
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    display: block;
    position:inherit;
}

.company_top .picture{
    width: 100%;
    height: 340px;
}

.company_top .logo_w{
    top: 55px;
    left: 36%;
    width: 30%;
  height: 30%;
}

.company_top .text_area {
    padding: 30px 40px;
    width: 100%;
}

.company_top .text_area h1{
font-size: 45px;
}

.company_top .text_area p {
    font-size: 15px;
}

.news_group .box{
    width: 100% !important;
}

.mySwiper .swiper-button-next {
    transform: translateX(-750%);
}
