@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons+Outlined');

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1280px;
}

.inner {
  width: 1200px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

h4 {
  color: #009FE3;
  padding: 5px 0;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

header .logo {
  background: url(../images/yuhan/logo.svg) 0 0 no-repeat;
  width: 147.32px;
  height: 36px;
  margin: 0 50px;
}

.menu {
  margin: 0 50px;
}

.menu ul li {
  display: inline-block;
  padding: 55px 0px 55px 55px;
}

.search {
  vertical-align: top;
}

.main_wrap {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_wrap video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -99;
}

.main_wrap .text_area {
  position: relative;
  top: -70px;
  left: -500px;
  z-index: 1;
  max-width: 1000px;
  color: #fff;
}

.main_wrap .text_area h1 {
  font-size: 75px;
  text-shadow: 2px 2px 15px rgba(83, 83, 83, 0.767);
}

.main_wrap .text_area p {
  font-size: 23px;
  padding: 20px 0;
}

/*  기업소개 */

.company {
  text-align: left;
  position: relative;
  padding: 300px 0;
  overflow: hidden;
}

.company_top {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.company_top .text_area {
  margin: 0;
  width: 60%;
  padding: 80px 100px;
}

.company_top .text_area>h1 {
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 50px;
  letter-spacing: -2px;
}

.company_top .text_area p {
  padding-top: 30px;
  font-size: 20px;
  letter-spacing: -1px;
  line-height: 50px;
}

.company_top .picture {
  width: 40%;
  height: 600px;
  background: url(../images/yuhan/company_pic.png)50% 50% no-repeat;
  background-size: cover;
  margin: 0;
}

.company_top .rec {
  width: 70px;
  height: 180px;
  background: #009FE3;
  position: absolute;
  z-index: -20;
  left: 740px;
  top: 25px;
}

.company_bottom {
  position: relative;
}

.hoverslide {
  position: absolute;
  top: -200px;
  left: 500px;
  width: 73.8%;
  height: 350px;
  display: flex;
  flex-direction: row;
}

.hoverslide .box {
  flex: 1 1 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hoverslide .box.b01 {
  /* background: url(../images/yuhan/company_about.png) 50% 50% no-repeat;
  background-size: cover; */
  background: #fff;
}

.hoverslide .box.b01 .icon {
  background: url(../images/yuhan/company_icon_about.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.hoverslide .box.b02 {
  /* background: url(../images/yuhan/company_history.png) 20% 20% no-repeat;
  background-size: cover; */
  background: #F7F7F9;
}

.hoverslide .box.b02 .icon {
  background: url(../images/yuhan/company_icon_history.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.hoverslide .box.b03 {
  /* background: url(../images/yuhan/company_report.png) 50% 50% no-repeat;
  background-size: cover; */
  background: #009FE3;
}

.hoverslide .box.b03 .icon {
  background: url(../images/yuhan/company_icon_report.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.hoverslide .box.b04 {
  /* background: url(../images/yuhan/company_recruit.png) 50% 50% no-repeat;
  background-size: cover; */
  background: #2e2e2e;
}

.hoverslide .box.b04 .icon {
  background: url(../images/yuhan/company_icon_recruit.svg) 50% 50% no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 10px 0;
}

.hoverslide .box.b01 button,
.hoverslide .box.b02 button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  color: #009FE3;
  cursor: pointer;
  border: 1px solid #009FE3;
  border-radius: 5px;
  display: none;
  margin-top: 20px;
  font-weight: 700;
}

.hoverslide .box.b04 button,
.hoverslide .box.b03 button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: 1px solid #FFF;
  border-radius: 5px;
  display: none;
  margin-top: 20px;
  font-weight: 700;
}

.hoverslide .box.b01 button:hover,
.hoverslide .box.b02 button:hover {
  background: #009FE3;
  color: #fff;
  border: 1px solid #009FE3;
}

.hoverslide .box.b03 button:hover {
  background: #fff;
  color: #009FE3;
  border: 1px solid #fff;
}

.hoverslide .box.b04 button:hover {
  background: #fff;
  color: #2e2e2e;
  border: 1px solid #fff;
}

.hoverslide .box:hover button {
  display: block;
  transition: all 0.5s ease-out;
}

.hoverslide .box.b03 h2,
.hoverslide .box.b03 h1,
.hoverslide .box.b03 p,
.hoverslide .box.b04 h2,
.hoverslide .box.b04 h1,
.hoverslide .box.b04 p {
  color: #fff;
}

.hoverslide .box.b01 h2,
.hoverslide .box.b02 h2 {
  color: #009FE3;
}

.hoverslide .box h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 70px;
}

.hoverslide .box h2 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.hoverslide .box p {
  display: none;
  font-weight: 400;
  letter-spacing: -1px;
}

.hoverslide .box:hover h2,
.hoverslide .box:hover h1,
.hoverslide .box:hover p {
  position: relative;
  animation: fadeInUp 1s;
}

.hoverslide .box:hover .icon {
  animation: fadeInUp 1s;
  width: 60px;
  height: 60px;
}

.hoverslide .box:hover p {
  display: block;
}

.hoverslide .box:hover {
  flex: 1 1 100%;
  transition: all 0.5s ease-out;
}

.hoverslide .box:hover h1 {
  display: block;
  transition: all 1s ease-out;
}


/* 지속가능경영 */

.sm {
  padding: 100px 0;
  /* background: #F4F4F4; */
  width: 100%;
  height: auto;
  animation: fadeInUp 2s;
}

.sm .inner {
  display: flex;
  justify-content: space-between;
}

.sm .text_area {
  margin: 0;
}

.sm .text_area h1 {
  font-size: 45px;
  letter-spacing: -2px;
}

.sm .text_area p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

.sm .text_area span {
  font-size: 25px;
  font-weight: 600;
  color: #009FE3;
}

.sm .group {
  margin: 0;
  display: flex;
}

.sm .group .box {
  margin-left: 50px;
  width: 200px;
  height: 300px;
  background: #fff;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 40px #e4e4e457;
  padding: 40px 0;
}

.sm .group .box h3 {
  font-size: 1.8rem;
  color: #C4C4C4;
  font-weight: 700;
}

.sm .group .box p {
  font-size: 18px;
  line-height: 25px;
}

.sm .group .box img {
  margin: 20px 0;
}


.sm .group .box:hover {
  background: #009FE3;
  color: #fff;
  transition: all 1.5s;
}

.main_wrap button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: #009FE3;
  border: 1px solid #009FE3;
  color: #FFF;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.main_wrap button:hover {
  background: #fff;
  color: #009FE3;
  border: 1px solid #fff;
}

.sm button,
.brand button {
  width: 110px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #009FE3;
  color: #009FE3;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.sm button:hover,
.brand button:hover {
  background: #009FE3;
  color: #fff;
  border: 1px solid #009FE3;
}

/* 주요활동 */

.contents {
  padding: 100px 0;
  text-align: center;
}

.contents .line {
  border: 1px solid black;
  width: 0.1px;
  height: 200px;
}

.contents h4 {
  padding-top: 25px;
}

.contents h1 {
  font-size: 40px;
  letter-spacing: -2px;
}

.tab {
  width: 100%;
  margin: 0 0 100px 0;
  position: relative;
  margin: 100px 0;
}

.tab ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tab ul li {
  width: 180px;
  height: 60px;
  line-height: 60px;
  padding: 0px 10px;
  margin: 0 0 0 30px;
  background: #FFF;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #009FE3;
  border-radius: 25px;
  color: #009FE3;
}

.tab ul li:first-child {
  margin: 0;
}

.tab ul li.on {
  background: #009FE3;
  color: #FFF;
  transition: all 0.3s ease-in
}

.tab .conBox {
  display: none;
  width: 100%;
  height: auto;
  margin-top: 100px;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab .conBox.on {
  display: block;
}

.forest,
.woman,
.volunteer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.forest .text_area,
.volunteer .text_area {
  width: 50%;
  margin: 0;
  padding: 0 120px;
  text-align: left;
}

.forest .text_area h1,
.volunteer .text_area h1,
.woman .text_area h1 {
  letter-spacing: -2px;
  font-size: 45px;

}

.forest .text_area h1,
.volunteer .text_area h1 {
  padding: 50px 0;
}

.forest .text_area span {
  color: #009FE3;
  font-size: 55px;
}

.woman .text_area h1 {
  padding: 50px 0 50px 0px;
}

.forest .text_area .add_circle,
.woman .text_area .add_circle,
.volunteer .text_area .add_circle {
  color: #009FE3;
  font-size: 50px;
  vertical-align: top;
  padding-left: 10px;
  position: absolute;
  top: 30px;
}

.forest .text_area .add_circle:hover,
.woman .text_area .add_circle:hover,
.volunteer .text_area .add_circle:hover {
  color: #2e2e2e;
  transition: all 0.5s;
}

.forest .text_area h2,
.woman .text_area h2,
.volunteer .text_area h2 {
  font-style: italic;
  font-weight: 400;
}

.forest .text_area p,
.volunteer .text_area p {
  padding-top: 100px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
  word-break: keep-all;
}

.forest .forest_video {
  width: 50%;
  /* max-width: 100%; */
  height: auto;
  margin: 0;
}

.forest .forest_video video {
  width: 100%;
}

.photobox {
  margin: 100px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pic {
  position: relative;
  overflow: hidden;
  margin: 7px;
  min-width: 200px;
  max-width: 250px;
  width: 100%;
  height: 165px;
  font-size: 18px;
  background-color: #009FE3;
}

.pic * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.pic img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.pic figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pic h3,
.pic h5 {
  color: #fff;
  margin: 10px 0;
  padding: 0 20px;
  opacity: 0;
  word-break: keep-all;
}

.pic h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
}

.pic h5 {
  font-style: italic;
  font-weight: 300;
  color: #000;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.pic a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.pic:hover>img,
.pic.hover>img {
  opacity: 0.2;
}

.pic:hover h3,
.pic.hover h3,
.pic:hover h5,
.pic.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.woman .woman_pic {
  background: url(../images/yuhan/woman_pic.png) 50% 50% no-repeat;
  width: 50%;
  height: 500px;
  background-size: auto;
  margin-left: 120px;
}

.woman .text_area {
  width: 50%;
  padding-right: 120px;
  text-align: left;
}

.woman .text_area p {
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
  word-break: keep-all;
  padding-top: 100px;
}

.volunteer .volunteer_pic {
  background: url(../images/yuhan/volunteer_pic.jpg) 10% 50% no-repeat;
  background-size: auto;
  width: 50%;
}

/* 뉴스룸 */

.newsroom {
  padding: 50px 0 100px 0;
  overflow: hidden;
}

.newsroom::before {
  background: url(../images/yuhan/bg_newsroom.svg)50% 50%;
  content: "";
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.newsroom h1 {
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -2px;
  color: #fff;
  padding-left: 70px;
}

.newsroom h4 {
  color: #fff;
  padding-left: 70px;
}

.newsroom .text_area {
  background: #009FE3;
  width: 800px;
  margin: 0;
  padding: 50px;
  position: absolute;
  top: -120px;
  left: -20px;
}

.newsroom .bg_title h1 {
  font-weight: 800;
  font-size: 120px;
  opacity: 0.5;
  color: #009FE3;
  transform: translateX(67%);
  padding: 0;
  padding-bottom: 30px;
}

.newsroom h3 {
  display: -webkit-box;
  word-break: keep-all;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 70px;
  line-height: 35px;
  font-size: 20px;
  letter-spacing: -1px;
}

.newsroom p {
  padding-top: 10px;
  font-style: italic;
}

.news_group {
  display: flex;
  align-content: space-between;
}

.news_group .box {
  width: 360px;
  height: 250px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0px 0px 40px #41414125;
  padding: 40px;
  margin-top: 30px;
}

.news_group .box:hover {
  background: #009FE3;
  transition: all 1.5s;
  color: #fff;
}

.news_group button {
  width: 85px;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  background: transparent;
  border: none;
  color: #009FE3;
  cursor: pointer;
  border: 1px solid #009FE3;
  border-radius: 10px;
  margin-top: 27px;
}

.news_group .box:hover button {
  color: #009FE3;
  background: #fff;
  border: 1px solid #FFF;
  transition: all 1.5s;
}

.news_group .box.b01 {
  margin-left: 0;
}

.news_group .box.b03 {
  margin-right: 0;
}

.swiper {
  width: 100%;
  position: relative;
  overflow: visible;
}

.mySwiper .swiper-pagination {
  position: absolute;
  bottom: -80px;
}

.swiper-pagination-bullet {
  width: 70px;
  height: 8px;
  border-radius: 0%;
  background: #009FE3;
}

.mySwiper .bt {
  display: flex;
  justify-content: flex-start;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  position: absolute;
  top: -45px;
}

.mySwiper .swiper-button-prev {
  transform: translateX(-40%);
  background: url(../images/yuhan/button_prev2.svg) no-repeat;
  background-size: 100% auto;
}

.mySwiper .swiper-button-next {
  transform: translateX(-4100%);
  background: url(../images/yuhan/button_next2.svg) no-repeat;
  background-size: 100% auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}


/* 브랜드 */

.brand {
  padding: 200px 0;
}

.brand h1 {
  font-weight: 400;
  font-size: 42px;
  letter-spacing: -2px;
}

.brand p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

.brand .bg_logo {
  background: url(../images/yuhan/bg_logo.svg) 50% 50% no-repeat;
  background-size: cover;
  width: 800px;
  height: 580px;
  opacity: 0.03;
  transform: translateX(-55%);
  margin-top: 100px;
}

.container {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  width: 40%;
  height: 400px;
  position: sticky;
  top: 0;
  padding-top: 100px;
}

.content {
  width: 60%;
  height: auto;
}

.content .box {
  width: auto;
  height: 250px;
  background: #009FE3;
}

.content .box.b01 {
  background: url(../images/yuhan/logo_huggies.png) 50% 50% no-repeat;
}

.content .box.b02 {
  background: url(../images/yuhan/logo_goodNight.png) 50% 50% no-repeat;
}

.content .box.b03 {
  background: url(../images/yuhan/logo_doubleHeart.png) 50% 50% no-repeat;
}

.content .box.b04 {
  background: url(../images/yuhan/logo_green.png) 50% 50% no-repeat;
}

.content .box.b04 {
  background: url(../images/yuhan/logo_white.png) 50% 50% no-repeat;
}

.content .box.b05 {
  background: url(../images/yuhan/logo_good.png) 50% 50% no-repeat;
}

.content .box.b06 {
  background: url(../images/yuhan/logo_lanature.png) 50% 50% no-repeat;
}

.content .box.b07 {
  background: url(../images/yuhan/logo_kleenex.png) 50% 50% no-repeat;
}

.content .box.b08 {
  background: url(../images/yuhan/logo_poppy.png) 50% 50% no-repeat;
}

.content .box.b09 {
  background: url(../images/yuhan/logo_scott.png) 50% 50% no-repeat;
}

.content .box.b10 {
  background: url(../images/yuhan/logo_myToilet.png) 50% 50% no-repeat;
}

.content .box.b11 {
  background: url(../images/yuhan/logo_defend.png) 50% 50% no-repeat;
}

.content .box.b12 {
  background: url(../images/yuhan/logo_tn.png) 50% 50% no-repeat;
}

.content .box.b13 {
  background: url(../images/yuhan/logo_wypall_new.png) 50% 50% no-repeat;
}

.content .box.b14 {
  background: url(../images/yuhan/logo_kimtech_new.png) 50% 50% no-repeat;
}

.content .box.b15 {
  background: url(../images/yuhan/logo_kleenguard_new.png) 50% 50% no-repeat;
}

.content .item:nth-child(even) {
  margin-left: 100px;
}

.content .item:nth-child(odd) {
  margin-right: 100px;
}

/* 고객중심경영 */

.ccm {
  text-align: center;
  padding: 200px 0;
}


.ccm .text_area h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -2px;
}

.ccm .text_area p {
  padding: 40px 0px;
  font-size: 18px;
  letter-spacing: -1px;
  line-height: 40px;
}

.ccm .consumer {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
}

.ccm .consumer .qna h1 {
  padding-bottom: 50px;
  color: #009FE3;
}

.ccm .consumer .ask h1 {
  padding-bottom: 50px;
}

.ccm .consumer .qna {
  width: 50%;
  height: 90%;
  margin: 0;
  padding: 50px;
  background: #F7F7F9;
  transform: translateX(5%);
}

.ccm .consumer .qna a {
  display: flex;
  width: 80%;
  font-size: 16px;
  letter-spacing: -1px;
  padding: 10px 0;
  border-bottom: 1px solid #dbdbdb;
}

.ccm .consumer .qna a:hover p {
  color: #009FE3;
  font-weight: 600;
}

.ccm .consumer .qna span {
  color: #009FE3;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin: 0;
}

.ccm .consumer .qna p {
  color: #000;
  line-height: 35px;
  text-align: left;
  margin: 0;
  padding: 0 20px;
  display: -webkit-box;
  word-break: keep-all;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ccm .consumer .qna button {
  font-weight: 700;
  color: #fff;
  background: #009FE3;
  padding: 12px 30px;
  border: 1px solid #009FE3;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
}

.ccm .consumer .ask {
  width: 50%;
  margin: 0;
  background: #009FE3;
  color: #fff;
  padding: 80px 80px 0 80px;
  z-index: 20;
  transform: translateX(-5%);
}

.ask .group {
  display: flex;
  margin: 0;
  justify-content: space-between;
  padding: 50px 0;
}

.ask .group .box {
  width: 33.333%;
  border-right: 1px solid rgba(255, 255, 255, 0.247);
  padding: 20px;
}

.ask .group .box:nth-child(3) {
  border-right: none;
}

.ask .group .box h2{
  padding-top: 20px;
  font-size: 20px;
}

.ask .group .box h3{
  font-size: 25px;
}

.ask .group .box p{
  font-size: 15px;
  letter-spacing: -1px;
  padding: 20px;
  outline: 1px solid #C4C4C4;
  background: #f7f7f915;
  word-break: keep-all;
  color: #fff;
  margin: 40px 10px;
}

.ask .box .icon {
  width: 80px;
  height: 80px;
}

.ask .box.b01 .icon {
  background: url(../images/yuhan/ask_icon_call.svg) 50% 50% no-repeat;
  background-size: contain;
}

.ask .box.b02 .icon {
  background: url(../images/yuhan/ask_icon_letter.svg) 50% 50% no-repeat;
  background-size: contain;
}

.ask .box.b03 .icon {
  background: url(../images/yuhan/ask_icon_chat.svg) 50% 50% no-repeat;
  background-size: contain;
}

.ask .box button{
  width: 90px;
  height: 35px;
  line-height: 30px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  border: 2px solid #FFF;
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  margin-top: 8px;
}

.ask .box button:hover {
  background: #fff;
  color: #009FE3;
  border: 1px solid #FFF;
  transition: all 0.5s ease;
}

/* 퀵 */

.quick_wrap {
  position: absolute;
  width: 100px;
  top: -50px;
  right: 60px;
  z-index: 9999;
  margin: 750px 0;
}

.quick_wrap ul li {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  border-radius: 100px;
  opacity: 0.8;
  box-shadow: 0px 0px 40px #41414125;
}

.quick_wrap ul li a{
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  padding-top: 53px;
}

.quick_wrap ul li.quick1{
  background: #fff url(../images/yuhan/quick_call.svg) 50% 20% no-repeat;
}

.quick_wrap ul li.quick1 a{
  color: #009FE3;
}

.quick_wrap ul li.quick2{
  background: #009FE3 url(../images/yuhan/quick_chat.svg) 50% 30% no-repeat;
  padding-top: 8px;
}

.quick_wrap ul li:hover{
  opacity: 1;
}

/* 푸터 */

footer {
  background: #2e2e2e;
  color: #fff;
}

footer .top {
  display: flex;
  justify-content: space-between;
  padding: 50px 0px;
}

footer .logo {
  background: url(../images/yuhan/footer_logo.svg) 0 0 no-repeat;
  width: 147.32px;
  height: 36px;
  margin: 0 30px 0 0;
}

footer .info {
  margin: 0;
  width: 60%;
}

footer .info a {
  padding-right: 20px;
  line-height: 60px;
}

footer .info a:nth-child(2) {
  color: #009FE3;
  font-weight: 700;
}

footer .info a:nth-child(3) {
  color: #009FE3;
  opacity: 0.5;
}

.top .info p {
  opacity: 0.5;
  display: inline-block;
  font-size: 14px;
  padding-right: 10px;
}

footer .sns {
  margin: 0;
}

footer .sns_icon {
  display: flex;
}

.sns1,
.sns2,
.sns3,
.sns4 {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  font-size: 0px;
  width: 50px;
  height: 50px;
  margin: 0 5px;
}

.sns1 {
  background: url(../images/yuhan/sns_footer.png) 0 0 no-repeat;
}

.sns1:hover,
.sns2:hover,
.sns3:hover,
.sns4:hover {
  opacity: 0.5;
  transition: all 0.3s ease;
}

.sns2 {
  background: url(../images/yuhan/sns_footer.png) 0 0 no-repeat;
  background-position: -50px 0;
}

.sns3 {
  background: url(../images/yuhan/sns_footer.png) 0 0 no-repeat;
  background-position: -100px 0;
}

.sns4 {
  background: url(../images/yuhan/sns_footer.png) 0 0 no-repeat;
  background-position: -150px 0;
}

footer .sns p {
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  font-weight: 700;
}

footer .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 280px 50px;
}

footer .bottom p {
  font-size: 14px;
  margin: 0;
  opacity: 0.5;
}
