@charset "UTF-8";

* {
    margin: 10px;
}

h1 {
    background-color: beige;
}

#container {
    background-color: lightgray;
}

span {
    color: blue;
}

li span {
    color: red;
}

.tea1 {
    background-color: beige;
}

.tea2 {
    background-color: lightsalmon;
}

.tea3 {
    background-color: lightseagreen;
}