@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

header {
    height: 66px;
    line-height: 60px;
    background-color: aqua;
}


#container {
    width: 600px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
}

h1 {
    font-size: 40px;
}

a {
    text-decoration: none;
    color: #444;
}

li {
    list-style-type: none;
}

.nav {
    background: lightblue;
}

.nav li{display: inline;}

.content{
    background: dodgerblue;
}

footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: lightgray;
}

.nav li a {
    display: inline-block;
    padding: 5px 20px;
}